# Variables and Constantes

In [ ]:
# Declaring and assigning value to constant
PI = 3.14
GRAVITY = 9.8

In [2]:
# Declaring and assigning value to constant

a = "Apple"
print(a)

# Changing value of a variable

a = "Aeroplane"
print(a)

a = 100
print(a)

# Python is a dynamic type language

#Assigning Multiple values to a variable

b,c,d = 1,2.5, "Hello"
print(b,c,d)

# Assigning same value to multiple variables
b = c = d = 5
print(b,c,d)

Apple
Aeroplane
100
1 2.5 Hello
5 5 5

# Class and Object

In [12]:
#Learn Class and object
class MyComplexNumber:
    #Constructor methods
    def __init__(self,real = 0, imag = 0):
        print("MyComplexNumber constructor executing....")
        self.real_part = real
        self.imag_part = imag
        
    def displayComplex(self):
        print("{0} + {1}j".format(self.real_part,self.imag_part))

In [13]:
# Create a new object against MyComplexNumber class
cmplx1 = MyComplexNumber(40,50)

#Calling displayComplex() function
#Output: 40 + 50j

cmplx1.displayComplex()

MyComplexNumber constructor executing....
40 + 50j

In [14]:
# Create another object against MyComplexNumber class
# and create a new attribute 'new_attribute'

cmplx2 = MyComplexNumber(60,75)
cmplx2.new_attribute = 90
cmplx2.displayComplex()
#Output: (60, 75, 90 )
print((cmplx2.real_part,cmplx2.imag_part,cmplx2.new_attribute))

MyComplexNumber constructor executing....
60 + 75j
(60, 75, 90)

In [15]:
#But cmpx1 doesn't new attribute 'new_attribute'
# AttributeError: 'MyComplexNumber' object has no attribute 'new_attribute'
cmplx1.new_attribute

AttributeError: 'MyComplexNumber' object has no attribute 'new_attribute'

In [16]:
# Deleting object attributes and the object
del cmplx1.real_part
del cmplx1

In [17]:
print(cmplx1)

NameError: name 'cmplx1' is not defined

# Array .. List

In [19]:
# Defining and declaring and array
arr = [10,20,30,40,50]
print(arr)

# Accessing Array elements
print(arr[0])
print(arr[1])
print(arr[2])
print(arr[-1]) # Negative index
print(arr[-2]) # Negative index

[10, 20, 30, 40, 50]
10
20
30
50
40

In [20]:
brands = ["cake","Apple","Google","Microsoft","Toyota"]
print(brands)

# Finding the length of array
num_brands = len(brands)
print(num_brands)

# Adding an element to an array using append ()
brands.append("Intel")
print(brands)

['cake', 'Apple', 'Google', 'Microsoft', 'Toyota']
5
['cake', 'Apple', 'Google', 'Microsoft', 'Toyota', 'Intel']

In [22]:
# Removing elements from an array
colors = ["violet","indigo","blue","green","yellow","orange","red"]
del colors[4]
print(colors)

colors.remove("blue")
print(colors)

colors.pop(3)
print(colors)


# Output ["violet","indigo","green","red"]

['violet', 'indigo', 'blue', 'green', 'orange', 'red']
['violet', 'indigo', 'green', 'orange', 'red']
['violet', 'indigo', 'green', 'red']

In [24]:
# Modifying elements of an array using indexing
fruits = ["Apple","Banana","Mango","Grapes","Orange"]
print(fruits)

fruits[1] = "Pineapple"
print(fruits)

fruits[-1] = "Guava"
print(fruits)

['Apple', 'Banana', 'Mango', 'Grapes', 'Orange']
['Apple', 'Pineapple', 'Mango', 'Grapes', 'Orange']
['Apple', 'Pineapple', 'Mango', 'Grapes', 'Guava']

In [26]:
# Concatenating two arrays using the + operator
concat = [1,2,3]
print (concat)

concat + [4,5,6]
print (concat)

#updating variable concat
concat = concat + [4,5,6]
print (concat)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4, 5, 6]

In [27]:
# Repeating element in an array
repeat = ["a"]
print(repeat)

#updating variable repeat
repeat = repeat * 5
print(repeat)

['a']
['a', 'a', 'a', 'a', 'a']

In [32]:
#Slicing (couper en tranche) an array
fruits = ["Apple","Banana","Mango","Grapes","Orange"]
print(fruits)
print(fruits[1:4])
print(fruits[:3]) # [0:3]
print(fruits[-4:])
print(fruits[-3:-1]) # -1 End element

['Apple', 'Banana', 'Mango', 'Grapes', 'Orange']
['Banana', 'Mango', 'Grapes']
['Apple', 'Banana', 'Mango']
['Banana', 'Mango', 'Grapes', 'Orange']
['Mango', 'Grapes']

In [36]:
#Declaring and defininf=g multidimentional array
multd = [[1,2], [3,4], [5,6], [7,8]]
print(multd)
print(multd[0])
print(multd[3])
print(multd[2][1])
print(multd[3][0])

[[1, 2], [3, 4], [5, 6], [7, 8]]
[1, 2]
[7, 8]
6
7

# Python keywords

In [39]:
#True False
print(5 == 5)
print(5>5)

True
False

In [41]:
# None
print(None == 0)
print(None == None)

False
True

In [43]:
#function 
def a_void_function():
    a = 1
    b = 2
    c = a + b
x = a_void_function()
print(x)

None

In [46]:
#and or not
print(True and False)
print(True or False)
print(not False)

False
True
True

In [47]:
# as
import math as myMath
print(myMath.cos(myMath.pi))

-1.0

In [50]:
# assert

assert 5 > 4
assert 5 == 5

In [52]:
#break
for i in range(1,11):
    if i == 7:
        break # terminate loop
    print(i)

1
2
3
4
5
6

In [54]:
# continue
for i in range(1,8):
    if i == 5:
       continue # saute une execution de boucle
    print(i)

1
2
3
4
6
7

In [55]:
# class
class ExampleClass:
    def function1(parameters):
        print("function1() executing...")
    def function2(parameters):
        print("function2() executing...")
ob1 = ExampleClass()
ob1.function1()
ob1.function2()

function1() executing...
function2() executing...

In [57]:
#def
def function_name(parameters):
    pass # not outcome
function_name(10)

In [58]:
#del
a = 10
print(a)
del a
print(a)

10

NameError: name 'a' is not defined

In [59]:
# if... elif..else
num = 2
if num == 1:
    print('one')
elif num == 2:
    print("Two")
else:
    print('Something else')

Two

In [61]:
#try ...raise .. catch .. finally

try:
    x = 9
    #raise ZeroDivisionError
except ZeroDivisionError:
    print("Division cannot be performed")
finally:
    print("Execution Successfully")

Execution Successfully

In [65]:
# for
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [66]:
# from .. import

import math

from math import cos,pi # use function directly

cos(pi)

-1.0

In [70]:
# global
globvar = 10
def read1():
    print(globvar)
def write1():
    global globvar
    globvar = 5
def write2():
    globvar = 15

read1()
write1()
read1()
write2()
read1()

10
5
5

In [73]:
# in use to see one element match in the list
a = [1,2,3,4]
print(4 in a)

True

In [76]:
#is
print (True is True)

True

In [79]:
# lambda # anonymous fonction no name like def

a = lambda x: x*2
for i in range(1,6):
    print(a(i))

2
4
6
8
10

In [85]:
#nonlocal
def outer_function():
    a = 5
    def inner_function():
        nonlocal a # a is non local
        a = 10
        print("Inner function: ",a)
    inner_function()
    print('Outer function: ',a)
outer_function()

Inner function:  10
Outer function:  10

In [87]:
#pass
def function(args):
    pass

#use to add more instruction later
function(5)

In [88]:
#return

def func_return():
    a = 1
    return a
print(func_return())

1

In [89]:
# while
i = 5
while (i>0):
    print(i)
    i -= 1

5
4
3
2
1

In [90]:
# with 

with open('example.txt','w') as my_file:
    my_file.write('Hello word!')

In [93]:
# yield
def generator():
    for i in range(6):
        yield i*i
g = generator()
for i in g:
    print(i)

0
1
4
9
16
25

# Tuples

In [94]:
 # creating an empty tuple
tuple1 = ()
print(tuple1)

# creating tuples with integer éléments
tuple2 = (1,2,3)
print(tuple2)

#Tuples with mixed datatypes
tuple3 = (103,"Anirban", 20000.00, "HR Dept")
print(tuple3)

()
(1, 2, 3)
(103, 'Anirban', 20000.0, 'HR Dept')

In [98]:
# creation of nested tuple
tuple4 = ("points",[1,4,3],(7,8,6))
print(tuple4)

# tuple can be created without any parentheses
tuple5 = 101, "Anirban",20000.00,"HR Dep"
print(tuple5)

# tuple unpacking is also possible
empid,empname,empsal,empdept = tuple5
print(empid)
print(empname)
print(empsal)
print(empdept)
print(type(tuple5))

('points', [1, 4, 3], (7, 8, 6))
(101, 'Anirban', 20000.0, 'HR Dep')
101
Anirban
20000.0
HR Dep
<class 'tuple'>

In [99]:
# accessing elements in a tuple
tuple1 = ('w','e','l','c','o','m','e')
print(tuple1)
print(tuple1[1])
print(tuple1[2])
print(tuple1[5])

# nested tuple

nest_tuple2 = ("points",[1,3,4],(8,7,9))
print(nest_tuple2)
print(nest_tuple2[0][3])
print(nest_tuple2[1][2])
print(nest_tuple2[2][2])

('w', 'e', 'l', 'c', 'o', 'm', 'e')
e
l
m
('points', [1, 3, 4], (8, 7, 9))
n
4
9

In [100]:
# slicing tuple contents
tuple1 = ('w','e','l','c','o','m','e')

print(tuple1[1:3]) # last is not include so output 1 and 2 only

print(tuple1[:-3])

print(tuple1[3:])

print(tuple1[:])

('e', 'l')
('w', 'e', 'l', 'c')
('c', 'o', 'm', 'e')
('w', 'e', 'l', 'c', 'o', 'm', 'e')

In [104]:
 # tuple elements are immutable
tuple1 = ('w','e','l','c','o','m','e')
print(tuple1)
#tuple1[2] = 'x'  #error

# tuples can be reassigned

tuple1 =('g','o','o','d','b','y','e')
print(tuple1)

('w', 'e', 'l', 'c', 'o', 'm', 'e')
('g', 'o', 'o', 'd', 'b', 'y', 'e')

In [108]:
# concatenation of tuples

tuple2 = ('w','e','l')
tuple3 = ('c','o','m','e')
print(tuple2)
print(tuple3)
print(tuple2+tuple3)
print(("again",)*4)

('w', 'e', 'l')
('c', 'o', 'm', 'e')
('w', 'e', 'l', 'c', 'o', 'm', 'e')
('again', 'again', 'again', 'again')

In [113]:
# deletion  operation on a tuple
tuple4 = ('w','e','l','c','o','m','e')

# as immutable so elements can not be deleted
#del tuple4[2]

# but can delete entire tuple

#del tuple4

print(tuple4)

TypeError: 'tuple' object doesn't support item deletion

In [115]:
# Tuple methods

tuple5 = ('w','e','l','c','o','m','e')
print(tuple5.count('e'))
print(tuple5.index('c')) # first element found

2
3

In [117]:
# Tuple operation
tuple6 = ('w','e','l','c','o','m','e')
print(tuple6)

#membership
print ('c' in tuple6)
print ('c' not in tuple6)
print ('a' in tuple6)
print ('a' not in tuple6)

# Output : True, False, False, True

('w', 'e', 'l', 'c', 'o', 'm', 'e')
True
False
False
True

In [118]:
# iteration through tuple elements
tuple6 = ('w','e','l','c','o','m','e')
for letters in tuple6:
    print("letter is -> ",letters)

letter is ->  w
letter is ->  e
letter is ->  l
letter is ->  c
letter is ->  o
letter is ->  m
letter is ->  e

In [122]:
# Built-in function with tuple
tuple7 = (22,33,55,44,77,66,11)
print(tuple7)

print(max(tuple7))
print(min(tuple7))
print(sorted(tuple7))
print(len(tuple7))
print(sum(tuple7))

(22, 33, 55, 44, 77, 66, 11)
77
11
[11, 22, 33, 44, 55, 66, 77]
7
308

# Learn Sets

In [6]:
# creating sets
# set og integers

my_set1 = {11,33,66,55,44,22}
print(my_set1)

# set of mixed datatypes
my_set2 = {101,"Agnibha",(21,2,1994)}
print(my_set2)

# Duplicate values are not allowed
my_set3 = {11,22,33,33,44,22}
print(my_set3)

# set cannot have mutable items
#my_set4 = {1,2,[3,4]}

# we can make set from a list
my_set5 = set([1,2,3,2])
print((my_set5))
print(type(my_set5))

# we can make list from a set

my_list1 = list({11,22,33,44})
print(my_list1)
print(type(my_list1))

{33, 66, 11, 44, 22, 55}
{(21, 2, 1994), 101, 'Agnibha'}
{33, 11, 44, 22}
{1, 2, 3}
<class 'set'>
[33, 11, 44, 22]
<class 'list'>

In [10]:
# operations on sets
my_set1 = {11,33,66,55,44,22}
print(my_set1)

# 'set' object does not support indexing

#my_set1[0]

# add an element
my_set1.add(77)
print(my_set1)

#add multiple elements
my_set1.update([88,99,22])
print(my_set1)

# add list and set
my_set1.update([100,102],{103,104,105})
print(my_set1)

{33, 66, 11, 44, 22, 55}
{33, 66, 11, 44, 77, 22, 55}
{33, 66, 99, 11, 44, 77, 22, 55, 88}
{33, 66, 99, 100, 102, 103, 104, 105, 11, 44, 77, 22, 55, 88}

In [15]:
# remove and discard
# initialize my_set1
my_set1 = {11,33,44,66,55}
print(my_set1)

# discard an element which is not present, not error
my_set1.discard(4)
print(my_set1)

# remove an element which is not present, error raised
#my_set1.remove(6)
print(my_set1)

# discard an element
my_set1.discard(44)
print(my_set1)
my_set1.remove(55)
print(my_set1)

{33, 66, 11, 44, 55}
{33, 66, 11, 44, 55}
{33, 66, 11, 44, 55}
{33, 66, 11, 55}
{33, 66, 11}

In [16]:
# using pop()
# initialize my_set1
my_set1 = {11,33,44,66,55}
print(my_set1)

# pop an element
print(my_set1.pop())

# pop another element, delete element arbitrary
print(my_set1.pop())
print(my_set1)

# clear my_set
my_set1.clear()
print(my_set1)

{33, 66, 11, 44, 55}
33
66
{11, 44, 55}
set()

In [17]:
# set operations - union
myset1 = {0,1,2,3,4,5}
myset2 = {4,5,6,7,8,9}
print(myset1)
print(myset2)

# use | operator for union
print(myset1 | myset2)
print(myset2 | myset1)
print(myset1.union(myset2))
print(myset2.union(myset1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
# set operations - intersection
myset1 = {0,1,2,3,4,5}
myset2 = {4,5,6,7,8,9}
print(myset1)
print(myset2)

# use & operator for intersection commun elements betwen myset1 and myset2

print(myset1 & myset2)
print(myset2 & myset1)
print(myset1.intersection(myset2))
print(myset2.intersection(myset1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{4, 5}
{4, 5}
{4, 5}
{4, 5}

In [19]:
# set operations - set difference
myset1 = {0,1,2,3,4,5}
myset2 = {4,5,6,7,8,9}
print(myset1)
print(myset2)

# use - operator for difference

print(myset1 - myset2)
print(myset2 - myset1)
print(myset1.difference(myset2))
print(myset2.difference(myset1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{0, 1, 2, 3}
{8, 9, 6, 7}
{0, 1, 2, 3}
{8, 9, 6, 7}

In [20]:
# set operations - symmetric difference
myset1 = {0,1,2,3,4,5}
myset2 = {4,5,6,7,8,9}
print(myset1)
print(myset2)

# use ^ ooperator for symmetric difference
print(myset1 ^ myset2)
print(myset2 ^ myset1)
print(myset1.symmetric_difference(myset2))
print(myset2.symmetric_difference(myset1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}

In [21]:
# set membership
myset1 = {0,1,2,3,4,5}
print(2 in myset1)
print(6 in myset1)
print(2 not in myset1)
print(6 not in myset1)

# Output true,False,False,True

True
False
False
True

In [23]:
# iterating through a set
for letter in set("welcome"):
    print (letter)

w
c
o
m
e
l

In [24]:
# built-in function with set
myset1 = {0,1,2,3,4,5}
print(len(myset1))
print(max(myset1))
print(min(myset1))
print(sorted(myset1))

6
5
0
[0, 1, 2, 3, 4, 5]

In [27]:
# Python frozenset
# frozenset in a new class that has the characteristics
# of a set, but its elements cannot be chance once assigned
# while tuples are immutable lists, frozensets are immutable sets.
# initialize A and B
myset1 = frozenset([1,2,3,4])
myset2 = frozenset([3,4,5,6])
print(myset1)
print(myset2)
print(myset1.difference(myset2))
print(myset1.union(myset2))
print(myset1.intersection(myset2))
print(myset1.symmetric_difference(myset2))
#myset1.add(10) frozenset has not add attribute

frozenset({1, 2, 3, 4})
frozenset({3, 4, 5, 6})
frozenset({1, 2})
frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2, 5, 6})

 # Python Module

In [28]:
# importing module as well renaming it
import math as m

print("The value of pi is",m.pi)

The value of pi is 3.141592653589793

In [29]:
# Usage of from
from math import pi
print("The value of pi is",pi)
# use directly variable pi

The value of pi is 3.141592653589793

In [31]:
# import all names from the standard module math
from math import *
print("The value of pi is",pi)

The value of pi is 3.141592653589793

# Python Directory and File Management

In [2]:
# import module os
import os
print(os.getcwd())      #Returns the present working directory
print(os.getcwdb())      #Returns the present working directory as a byte object

C:\Users\Admin\Documents\DIT\PythonCompleteCourse
b'C:\\Users\\Admin\\Documents\\DIT\\PythonCompleteCourse'

C:\Users\Admin\Documents\DIT\PythonCompleteCourse\env\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: The Windows bytes API has been deprecated, use Unicode filenames instead
  after removing the cwd from sys.path.

In [5]:
os.chdir('C:\\Users\\Admin\\Documents\\DIT\\PythonCompleteCourse\FileTest')   #use to change directory
print(os.listdir())                                                           # All files and sub directories inside a directory
                                                                              # can be known using the lisdir() method
print(os.getcwd())                                                            #Returns the present working directory

['.ipynb_checkpoints', 'a.txt', 'b.txt', 'c.txt']
C:\Users\Admin\Documents\DIT\PythonCompleteCourse\FileTest

In [6]:
# used to make a new directory
os.mkdir('test')

In [7]:
# used to rename a directory
os.rename('test', 'New_One')

In [8]:
# Removing a file and directory
os.remove('a.txt')               # use to remove a file
os.rmdir('New_One')                  # use to remove a directory

In [9]:
os.chdir('C:\\Users\\Admin\\Documents\\DIT\\PythonCompleteCourse')

In [10]:
print(os.getcwd())

C:\Users\Admin\Documents\DIT\PythonCompleteCourse

# Python Dictionary

In [2]:
# Accessing elements from a dictionary 3
new_dict = {1 : "Hello", 2: "hi", 3: "Hola"}
print(new_dict)
print(new_dict[1]) # raise except when key doesn't find
print(new_dict.get(1)) # None when key doesn't find


# Updating value  
new_dict[1] = "key"
print(new_dict)

# Adding value
new_dict[4] = "Namaste"
print(new_dict)

{1: 'Hello', 2: 'hi', 3: 'Hola'}
Hello
Hello
{1: 'key', 2: 'hi', 3: 'Hola'}
{1: 'key', 2: 'hi', 3: 'Hola', 4: 'Namaste'}

In [4]:
# Creating a new dictionary
squares = {1:1, 2:4, 3:9, 4:16, 5:25}
print(squares)

# remove a particular item
print(squares.pop(4)) # return value
print(squares)

# Remove an arbitrary item
print(squares.popitem()) # return key and value
print(squares)

# Delete a particular item

del squares[1]

print (squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
16
{1: 1, 2: 4, 3: 9, 5: 25}
(5, 25)
{1: 1, 2: 4, 3: 9}
{2: 4, 3: 9}

In [6]:
# Creating a new dictionary
squares = {1:1, 2:4, 3:9, 4:16, 5:25}
print(squares)

# remove all items
squares.clear()

# Output {}
print(squares)

# delete the dictionary itself
del squares

# Throws Error as the dictionary has been deleted
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{}

NameError: name 'squares' is not defined

In [7]:
# Creating a new dictionary using comprehension (les listes comprehensions)
squares = {x : x*x for x in range (6)}
print(squares)

# Dictionary Membership test (appartenance au dictionnaire)
squares = {1:1, 3:9, 5:25, 7:49, 8:81}

print(1 in squares)

print(2 not in squares)

# Membership tests for key only not value
print(49 in squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
True
True
False

In [8]:
# Iterating through Dictionary
squares = {1:1, 3:9, 5:25, 7:49, 8:81}
for i in squares:
    print(squares[i])

# Use buit-in functions in a dictionary
squares = {1:1, 3:9, 5:25, 7:49, 8:81}

print(len(squares)) # Prints the length of the dictionary

print(sorted(squares))  # Prints the dictionary in sorted order

1
9
25
49
81
5
[1, 3, 5, 7, 8]

# Python String

In [9]:
# Different ways to define a string in Python
mystr1 = 'Welcome'
print(mystr1)

mystr2 = "Welcome"
print(mystr2)

mystr3 = '''Welcome'''

# Triple quotes string can extend multiple lines
mystr3 = """Welcome
to the world of Python Programming"""
print(mystr3)

Welcome
Welcome
Welcome
to the world of Python Programming

In [13]:
# Accessing characters in a string
mystr = 'language'
print('mystr = ',mystr)

print('mystr[0] = ',mystr[0])
print('mystr[-1] = ',mystr[-1])
print('mystr[1:5] = ',mystr[1:5]) # 5 not here
print('mystr[5:-2] = ',mystr[5:-1]) # exclusif
#print('mystr[10] = ',mystr[10]) # error index out

mystr =  language
mystr[0] =  l
mystr[-1] =  e
mystr[1:5] =  angu
mystr[5:-2] =  ag

In [17]:
# String are immutable
# but different strings can be assigned
mystr = 'language'
print(mystr)

mystr = 'Programming'
print(mystr)

mystr[3] = 'x'

language
Programming

TypeError: 'str' object does not support item assignment

In [20]:
# Concatenation of strings
mystr1 = 'Welcome'
mystr2 = ' to all'

#Using +
print('mystr1 + mystr2 = ',mystr1+mystr2 )

# Using *
print('mystr1 * 3=',mystr1*3 )

mystr1 + mystr2 =  Welcome to all
mystr1 * 3= WelcomeWelcomeWelcome

In [21]:
# iterating through a string
letter_count = 0
for letters in 'Hello World':
    if (letters == 'l'):
        letter_count +=1
print(letter_count,'times l letter has been found')

3 times l letter has been found

In [24]:
# String Membership
print('l' in "hello")
print('l' not in "hello")
print('b' in "hello")
print('b' not in  "hello")

True
False
False
True

In [29]:
# buil-in functions
mystr = 'university'

# using enumerate()
my_list_enumerate = list(enumerate(mystr))
print('list(enumerate(mystr) ',my_list_enumerate)

#using character count
print('len(mystr) = ', len(mystr))

list(enumerate(mystr)  [(0, 'u'), (1, 'n'), (2, 'i'), (3, 'v'), (4, 'e'), (5, 'r'), (6, 's'), (7, 'i'), (8, 't'), (9, 'y')]
len(mystr) =  10

In [40]:
# String formatting using escape sequence*
#print("tell me "What's your name ?"")

# using triple quotes
print('''tell me "what's your name ?"''')

# escaping single quotes
print('tell me "What\'s your name?"')

# escaping single quotes
print("tell me 'What\'s your name?'")

# escaping double quote
print("tell me \"What's your name?\"")

tell me "what's your name ?"
tell me "What's your name?"
tell me 'What's your name?'
tell me "What's your name?"

In [46]:
print("c:\\User\\user\\mydata.txt")
print("This line is having a new line \ncharacter")
print("This line is having a tab \t character")
print("ABC written in \x41\x42\x43 (HEX) representation")

c:\User\user\mydata.txt
This line is having a new line
character
This line is having a tab 	 character
ABC written in ABC (HEX) representation

In [45]:
# Format () method 
# Default (implicit) order
default_order = "{} {} and {}".format('Today','is','Sunday')
print(default_order)

# Order using positional argument
positional_order = "{1} {0} and {2}".format('is','Today','Sunday')
print(default_order)

# Order using keyword argument
keyword_order = "{t} {i} and {s}".format(i='is',t='today', s = 'Sunday')
print(default_order)

Today is and Sunday
Today is and Sunday
Today is and Sunday

In [48]:
# Formatting numbers
print("Required binary representation of {0} is {0:b}".format(20))

# Formatting floats
print("Exponent representation : {0:e}".format(1566.345))


# Round off
print("One third is {0} is {0:.3f}".format(1/3))

Required binary representation of 20 is 10100
Exponent representation : 1.566345e+03
One third is 0.3333333333333333 is 0.333

In [53]:
 # String methods 
print("gOOD moRNING tO aLl".lower())
print("gOOD moRNING tO aLl".upper())
print("gOOD moRNING tO aLl".find('tO'))
print("gOOD moRNING tO aLl".find('to')) # not match
print("gOOD moRNING tO aLl".replace('aLl','everybody'))
print("gOOD moRNING tO aLl".replace('all','everybody')) # not match

good morning to all
GOOD MORNING TO ALL
13
-1
gOOD moRNING tO everybody
gOOD moRNING tO aLl

# Datatype Conversion in Python

In [54]:
# Implicit Type conversion
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

In [56]:
# Addition of string(higher) data type and integer (lower) datatype
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))
# Error : implicit conversiion will not work here
print(num_int + num_str)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [58]:
# Implicit Type conversion
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str) # convert string to int
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)

print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>

# Type Numbers

In [1]:
value1 = 100
print(type(value1))
print(isinstance(value1,int))
print(isinstance(value1,float))
print(isinstance(value1,complex))

<class 'int'>
True
False
False

In [4]:
value2 = 100.24
print(type(value2))
print(isinstance(value2,int))
print(isinstance(value2,float))
print(isinstance(value2,complex))

<class 'float'>
False
True
False

In [6]:
value3 = 50 + 6j
print(type(value3))
print(isinstance(value3,int))
print(isinstance(value3,float))
print(isinstance(value3,complex))

<class 'complex'>
False
False
True

In [7]:
print(0b1101)
print(0xab)
print(0o23)

13
171
19

In [9]:
print(10 + 33.4) # implicit convert float

43.4

In [14]:
# Type conversion
print(int(10.5))
print(int(-20.99))
print(float(10))

10
-20
10.0

In [18]:
# Python decimal
data1 = 0.1 + 0.2 # error add
print(data1)
data1 = 1.20 * 2.50
print(data1)
from decimal import Decimal as D
print(D('0.1') + D('0.2'))
print(D('1.2')* D('2.5'))

0.30000000000000004
3.0
0.3
3.00

In [19]:
# Python fraction
from fractions import Fraction as F
print(F('1.5')) 
print(F('5')) 
print(F(1,5))

3/2
5
1/5

In [21]:
# Python math module
import math
print(math.pi) 
print(math.cos(10)) 
print(math.log(10)) 
print(math.log10(10)) 
print(math.exp(10))
print(math.factorial(5)) 
print(math.sinh(10))

3.141592653589793
-0.8390715290764524
2.302585092994046
1.0
22026.465794806718
120
11013.232874703393

In [34]:
# Python random module
import random
print ('Random number ---> ', random.randrange(5,15)) # start and stop value
print ('Random number ---> ', random.randrange(5,15))
print ('Random number ---> ', random.randrange(5,15))
print ('Random number ---> ', random.randrange(5,15))

day = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat']
print(random.choice(day))

print (day)
random.shuffle(day)
print(day)

# Print random element
print(random.random())

Random number --->  9
Random number --->  6
Random number --->  10
Random number --->  5
Wed
['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
['Sun', 'Thu', 'Wed', 'Sat', 'Fri', 'Mon', 'Tue']
0.5156018208339357

# Namespace and Scope

In [6]:
# Name (also called identifier) is simply a name given to object
# We can get the adress (in Ram) of some object through the built-in function, id()
# Note : You may get different walue of id

a = 2
# Output : id(2) = 10919424
print('id(2) = ',id(2))

# Output : id(2) = 10919424
print('id(2) = ',id(2))

a = 2
# Output : id(2) = 10919424
print('id(a) = ',id(a))

a = a+1
# Output : id(2) = 10919424
print('id(a) = ',id(a))

# Output : id(2) = 10919424
print('id(3) = ',id(3))

b = 2
# Output : id(2) = 10919424
print('id(2) = ',id(2))
print('id(b) = ',id(b))

id(2) =  140709852377376
id(2) =  140709852377376
id(a) =  140709852377376
id(a) =  140709852377408
id(3) =  140709852377408
id(2) =  140709852377376
id(b) =  140709852377376

In [11]:
# Scope

def outer_function():
    global a
    a =20
    
    def inner_function():
        global a
        a = 30
        print('a = ', a)
        
    inner_function()
    print('a = ', a)

a = 10
print('a = ', a)
outer_function()
print('a = ', a)

a =  10
a =  30
a =  30
a =  30

# Python Global, Local and Nonlocal Variables

In [1]:
# Global and local variable with different name

x = "global" # Global variable can be accessed from anywhere

def funct1():
    global x
    y = "local"
    x = x * 2
    print(x)
    print(y)

print("Global x = ",x)
funct1()
print("Global x = ",x)

Global x =  global
globalglobal
local
Global x =  globalglobal

In [2]:
# Global and local variable with different name

a = 5

def funct2():
    a=10 #local variable can be accessed from the block where it it defined only
    print("local a = ",a) 

print("Global a = ",a)
funct2()
print("Global a = ",a)

Global a =  5
local a =  10
Global a =  5

In [3]:
# Creating and using a Non-local variable

def outer():
    x = "local"
    
    def inner():
        nonlocal x # Nonlocal variable are used in nested function
        x = "nonlocal"
        print("inner:",x)
        
    inner()
    print("outer:",x)
    
outer()

inner: nonlocal
outer: nonlocal

# Python Global Keyword

In [4]:
def funct1():
    x = 20
    
    def funct2():
        global x # Global keyword is used to modify a global variable
        x = 25
        
    print("Before calling funct2 : ", x)
    print("Calling funct2 now ")
    funct2()
    print("After calling funct2 : ",x)

funct1()
print("x is main : ",x)

Before calling funct2 :  20
Calling funct2 now
After calling funct2 :  20
x is main :  25

# Python Iterators

In [2]:
# definition a list
our_list = [44,77,11,33]

# get an iterator using iter() method
our_iter = iter(our_list)

## iterate through it using next() method

## print 44
print(next(our_iter))


print(next(our_iter))

## next(obj) is same as calling obj.__next__() method

### iterate through it using next() method

## print 11
print(our_iter.__next__())

## print 33
print(our_iter.__next__())

## This will raise error, no items left
next(our_iter)

44
77
11
33

StopIteration:

In [6]:
# create  a custom iterrator

class Pow_of_Two:
    ''' class to implement an 
    iterator of powers of two '''
   
    #constructor with default value max contains 0
    def __init__(self, max = 0):
        self.max = max
  
    
    def __iter__(self):
        self.n = 0
        return self
    
    def __next__(self):
        if self.n<= self.max:
            result = 2 ** self.n
            self.n += 1
            return result
        else:
            raise StopIteration

print(Pow_of_Two.__doc__)

a = Pow_of_Two(4)

i = iter(a)
print(next(i))
print(i.__next__())
#print(next(i))
print(next(i))

 class to implement an
    iterator of powers of two
1
2
4

In [9]:
# creating a infinite custom iterrator

class Infinite_Iter:
    """ Infinite iterator to return all 
    odd numbers"""
    
    def __iter__(self):
        self.num = 1
        return self
    
    def __next__(self):
        num = self.num
        self.num +=2
        return num

i = Infinite_Iter()
a = iter(i)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

1
3
5
7
9
11
13
15
17
19
21
23

# Python iterations using for

In [10]:
# printing all the elements present in a set
a = [1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [11]:
# Using range in for loop
for i in range(6,11):
    print(i)

6
7
8
9
10

In [12]:
# Using for loop for printing the values present in the 
# tuple and using the else command in the for loop
b = (11,12,13,14,15)
for i in b:
    print(i)
else:
    print("Printing Completed")

11
12
13
14
15
Printing Completed

# Python Hybrid

In [1]:
# Creating Class and Object in Python
class myBird:
    
    def __init__(self):
        print("myBird class constructor is executing...")
    
    def whatType(self):
        print("I am a Bird...")
    
    def canSwim(self):
        print("I can swim...")

In [8]:
# MyPenguin Class inheriting the attributes from the myBird class
# extends,   {} ()
class MyPenguin(myBird):
    
    def __init__(self):
            # call super()
            super().__init__()
            print("MyPenguin class constructor is executing...")
        
    def whoisThis(self):
        print("I am a Penguin...")
    
    def canRun(self):
        print("I can run faster...")

In [9]:
# Accesing the child class's attributes (Inheritance)
pg1 = MyPenguin()
pg1.whatType() # defined in myBird class
pg1.whoisThis() # defined in myPenguin class
pg1.canSwim() # defined in myBird class
pg1.canRun() # defined in myPenguin class

myBird class constructor is executing...
MyPenguin class constructor is executing...
I am a Bird...
I am a Penguin...
I can swim...
I can run faster...

In [14]:
# Polymorphism
class MyParrot:
    
    def canFly(self):
        print("Parrot can fly...")
    
    def canSwim(self):
        print("Parrot can't swim...")

In [13]:
class MyPenguin:
    
    def canFly(self):
        print("Penguin can't fly...")
    
    def canSwim(self):
        print("Penguin can swim...")

In [15]:
# common interface
def flying_bird_test(bird):
    bird.canFly()
    bird.canSwim()

In [18]:
# instantiate objects
bird_parrot = MyParrot()
bird_penguin = MyPenguin()

# passing the object
flying_bird_test(bird_parrot)
print()
flying_bird_test(bird_penguin)

Parrot can fly...
Parrot can't swim...

Penguin can't fly...
Penguin can swim...

In [20]:
# Multiple inheritance

class Base1:
    pass

class Base2:
    pass

class MultiDerived(Base1,Base2):
    pass

In [22]:
# Multiple inheritance

class Base1:
    def funcBase1(self):
        print("funcBase1() is executing...")

class Base2:
    def funcBase2(self):
        print("funcBase2() is executing...")

class Base3:
    def funcBase3(self):
        print("funcBase3() is executing...")


class MultiDerived(Base1,Base2,Base3):
    def funcMultiDerived(self):
        print("funcMultiDerived() is executing...")

In [23]:
md1 =MultiDerived()
md1.funcBase1()
md1.funcBase2()
md1.funcBase3()
md1.funcMultiDerived()

funcBase1() is executing...
funcBase2() is executing...
funcBase3() is executing...
funcMultiDerived() is executing...

# Python Function Arguments

In [4]:
def findMax(a,b):   # function taking arguments and returning a value
    if a>b:
        return a
    else:
        return b

print("Max number between 100 and 20 is ",findMax(100,20))

Max number between 100 and 20 is  100

In [6]:
def hello(name,msg=",  how are you ?"): # Function with default parameter
    print("Hello ",name,msg)


hello("Agnibha",", have a nice day")
hello("Agnibha")

Hello  Agnibha , have a nice day
Hello  Agnibha ,  how are you ?

In [7]:
def sumAll(*args): # Function with arbitray arguments
    sum = 0
    for i in args:
        sum+=i
    return sum

print("Sum of all the integers between 1-5 is ", sumAll(1,2,3,4,5))

Sum of all the integers between 1-5 is  15

In [10]:
def defaultArg(a,b,c): # default argument
    print("a = {}, b = {}, c= {}...".format(a,b,c))

defaultArg(10,20,30)

a = 10, b = 20, c= 30...
a = 10, b = 20, c= 500...

In [11]:
def defaultArg(a,b,c = 500): # default argument
    print("a = {}, b = {}, c= {}...".format(a,b,c))

defaultArg(10,20,30)

defaultArg(10,20) # error missing 1 required positional argument: 'c' add default parameter

a = 10, b = 20, c= 30...
a = 10, b = 20, c= 500...

In [12]:
def defaultArg(a,b=200,c = 500): # default argument
    print("a = {}, b = {}, c= {}...".format(a,b,c))

defaultArg(10,20,30)

defaultArg(10) # error missing 1 required positional argument: 'b' add default parameter

a = 10, b = 20, c= 30...
a = 10, b = 20, c= 500...
a = 10, b = 200, c= 500...

In [13]:
def defaultArg(a=2,b=200,c = 500): # default argument
    print("a = {}, b = {}, c= {}...".format(a,b,c))

defaultArg(10,20,30)

defaultArg() # error missing 1 required positional argument: 'a' add default parameter

a = 10, b = 20, c= 30...
a = 10, b = 20, c= 500...
a = 10, b = 200, c= 500...
a = 2, b = 200, c= 500...

In [15]:
def defaultArg(a=2,b=200,c = 500): # default argument
    print("a = {}, b = {}, c= {}...".format(a,b,c))

defaultArg(10,20,30)


defaultArg(c=50, b=200, a=111 ) # if you precise argument you can unorder different value

a = 10, b = 20, c= 30...
a = 111, b = 200, c= 50...

In [16]:
def defaultArg(a=2,b=200,c = 500): # default argument
    print("a = {}, b = {}, c= {}...".format(a,b,c))

defaultArg(10,20,30)


defaultArg(c=50, b=200 ) #  we have default value so you can ommet some parameters

a = 10, b = 20, c= 30...
a = 2, b = 200, c= 50...

# Python Functions

In [21]:
def hello1(): # Function without a return statement
    print("Hello! I love to code in Python")

def hello2(): # Function with a return statement
    '''
    this is a
    multiline
    text
    '''
    return "Hello! I love to code in Python"
    # Return commands returns back the contrrol to the caller
    # Mainly used to return a value to the caller of the function

hello1()
print(hello2())
print(hello2.__doc__)

Hello! I love to code in Python
Hello! I love to code in Python

    this is a
    multiline
    text

In [22]:
 # one task = one function
def myAddition(x,y):
    print("Performing the addition operation...")
    return(x+y)

def mySubtraction(x,y):
    print("Performing the subtraction operation...")
    return(x-y)

def myMultiplication(x,y):
    print("Performing the multiplication operation...")
    return(x+y)

def myDivision(x,y):
    print("Performing the division operation...")
    return(x/y)

def myMenu():
    print("Main Menu...")
    print("1 > Addition operation...")
    print("2 > Subtraction operation...")
    print("3 > Multiplication operation...")
    print("4 > Division operation...")
    ch = int(input("Please enter your option number..."))
    return ch

def calculation():
    ch = myMenu()
    num1 = int(input("Please enter the first number..."))
    num2 = int(input("Please enter the second number..."))
    if ch == 1:
        result = myAddition(num1,num2)
    elif ch == 2:
        result = mySubtraction(num1,num2)
    elif ch == 3:
        result = myMultiplication(num1,num2)
    elif ch == 4 : 
         result = myDivision(num1,num2)
    print("So result =  ",result)

calculation()

Main Menu...
1 > Addition operation...
2 > Subtraction operation...
3 > Multiplication operation...
4 > Division operation...
Performing the addition operation...
So result =   9

# Python Break Statement

In [2]:
import random as r
rand_numb = r.randrange(1,20) # Generating a random number between 1 and 19 inclusif
print("Number to be guessed : ",rand_numb)
i = 1
while True:
    print("Number Guessed : ",i)
    if (i == rand_numb): # if the number guessed is correct the this block will be executed
        print("Random Number has been guessed successfully!")
        break # Break statements stops and exits from the loop
    i += 1

print("End of the program...")

Number to be guessed :  12
Number Guessed :  1
Number Guessed :  2
Number Guessed :  3
Number Guessed :  4
Number Guessed :  5
Number Guessed :  6
Number Guessed :  7
Number Guessed :  8
Number Guessed :  9
Number Guessed :  10
Number Guessed :  11
Number Guessed :  12
Random Number has been guessed successfully!
End of the program...

# Python Continue Statement

In [1]:
# Program to print only the even numbers between 1 and 19 using continue

for i in range(1,20):
    if(i%2!=0):
        continue  # Current iteration gets continued
    print(i)

2
4
6
8
10
12
14
16
18

# Python Errors and Exceptions

In [6]:
try:
    """
    The code which can give rise to an exception is written here.
    """
    a = "hi"
    b = int(a)
    print("I am here...")
    
except:
    print("Exception caught")

I am here...
Exception caught

In [7]:
# Catching specific exception
try:
    a = 5 
    b = 0
    c = a/b
except ZeroDivisionError:
    print("Division by zero is not possible")

Division by zero is not possible

In [8]:
# Exception can be raised also
try:
    raise TypeError
except TypeError:
    print("TypeError Exception caught")

TypeError Exception caught

In [10]:
# try .. finally 
try:
    print("In try block")
    raise TypeError
except:
    print("In except block")
finally:
    print("In the finally block") # excute any or not errors

In try block
In except block
In the finally block

# Python Exceptions try except finally

In [12]:
# Catching specific exception
try:
    a = int(input("Please enter the first number..."))
    b = int(input("Please enter the second number..."))
    c = a/b
    print("{} / {}".format(a,b,c))
except ZeroDivisionError:
    print("Division by zero is not possible")

Division by zero is not possible

In [15]:
# Catching multiple specific exception
try:
    a = int(input("Please enter the first number..."))
    b = int(input("Please enter the second number..."))
    c = a/b
    print("{} / {}".format(a,b,c))
except ZeroDivisionError:
    print("Division by zero is not possible")
except ValueError:
    print("The data types are not proper")

The data types are not proper

In [16]:
# Catching multiple specific exception
try:
    a = int(input("Please enter the first number..."))
    b = int(input("Please enter the second number..."))
    if (a<0):
        raise TypeError
    c = a/b
    print("{} / {}".format(a,b,c))
except ZeroDivisionError:
    print("Division by zero is not possible")
except ValueError:
    print("The data types are not proper")
except TypeError:
    print("The data is not range")

The data is not range

In [18]:
# Catching multiple specific exception
try:
    a = int(input("Please enter the first number..."))
    b = int(input("Please enter the second number..."))
    if (a<0):
        raise TypeError
    c = y/z
    print("{} / {}".format(a,b,c))
except ZeroDivisionError:
    print("Division by zero is not possible")
except ValueError:
    print("The data types are not proper")
except TypeError:
    print("The data is not range")
except NameError:
    print("The data items are not defined")

The data items are not defined

# Python User Defined Exception

In [7]:
class VotersElligibility(Exception):
    def __init__(self):
        super()

try:
    age = "21"
    print("Age is "+str(age))
    if age<18:
        raise VotersElligibility
except VotersElligibility:
    print("Age is less than 18")
except TypeError:
    print("Age is not numeric")
else:
    print("Age is greater than or equal to 18")
finally:
    print("End of the program")

Age is 21
Age is not numeric
End of the program

# Python OOP Approach

In [24]:
# Creating Class and Object in Python

class myBird:
    
    def __init__(self): # constructor, self object reference
        print("myBirth class constructor is executing...")
        
    def whatType(self):
        print("I am a Bird...")
            
    def canSwim(self):
        print("I can Swim")

In [25]:
class myParrot:
    #class attribute
    species = "bird"
    
    #instance attribue
    def __init__(self,name,age): 
        print("myParrot class constructor is executing...")
        self.name = name
        self.age = age
        
    def canSing(self,thisSong):
        return "{} can sing {}...".format(self.name,thisSong)

In [26]:
# myPenguin class inheriting the attributes from the myBird class
class myPenguin(myBird):
    
    def __init__(self):  # _ means private, __ means strictly private no access drom outside of the class
        # call super() function
        super().__init__()
        print("myPenguin is ready...")
    
    def whoisThis(self):
        print("I am Penguin")
    
    def canRun(self):
        print("I can run faster")

In [27]:
# instance the parrot class = object in the class
mp1 = myParrot("myParrot1",10)
mp2 = myParrot("myParrot2",15)

myParrot class constructor is executing...
myParrot class constructor is executing...

In [28]:
# access the class attributes
print("MP1 is a {}".format(mp1.__class__.species))
print("MP2 is a {}".format(mp2.__class__.species))

MP1 is a bird
MP2 is a bird

In [29]:
# access the instance attributes
print("{} is {} years of age".format(mp1.name,mp1.age))
print("{} is {} years of age".format(mp2.name,mp2.age))
print(mp1.canSing("Chirp"))

myParrot1 is 10 years of age
myParrot2 is 15 years of age
myParrot1 can sing Chirp...

In [31]:
# access the child class's attributes (inheritance)
pg1 = myPenguin()
pg1.whoisThis()
pg1.canSwim()
pg1.canRun()

myBirth class constructor is executing...
myPenguin is ready...
I am Penguin
I can Swim
I can run faster

In [37]:
# Data encapsulation
class personalComputer:
    
    def __init__(self):  
          self.maxComputerPrice = 20000
    
    def mySell(self):
          print("Selling Price: {}".format(self.maxComputerPrice))
                
    def setMaxComputerPrice(self,price):
            self.maxComputerPrice = price

In [38]:
pc = personalComputer()
pc.mySell()

Selling Price: 20000

In [39]:
# change the price 
pc.maxComputerPrice = 30000
pc.mySell()

Selling Price: 30000

In [40]:
# using setter function
pc.setMaxComputerPrice(40000)
pc.mySell()

Selling Price: 40000

# Python Nested Dictionary Implementation

In [48]:
# Declaring and defining a nested dictionary (key:value)
people = {1:{'name': 'John','age':'27','sex':'Male'},
         2:{'name': 'Marie','age':'22','sex':'Female'}}

print(people)

# Accessing elements of the dictionary

print(people[1]['name'])
print(people[1]['age'])
print(people[1]['sex'])

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}
John
27
Male

In [49]:
people[3]={}
# adding elements to a dictionary

people[3]['name'] = 'Luna'
people[3]['age'] = '24'
people[3]['sex']= 'Female'
people[3]['married'] = 'No'

print(people)

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}, 3: {'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'}}

In [50]:
# adding dictionary to a nested dictionary
people[4]={'name': 'Peter','age':'29','sex':'Male','married':'Yes'}

print(people)

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}, 3: {'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'}, 4: {'name': 'Peter', 'age': '29', 'sex': 'Male', 'married': 'Yes'}}

In [52]:
# Deleting elements from a dictionary

print(people[3])
print(people[4])

del people[3]['married']

del people[4]['married']

print(people[3])
print(people[4])

{'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'}
{'name': 'Peter', 'age': '29', 'sex': 'Male', 'married': 'Yes'}
{'name': 'Luna', 'age': '24', 'sex': 'Female'}
{'name': 'Peter', 'age': '29', 'sex': 'Male'}

In [53]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}, 
          3: {'name': 'Luna', 'age': '24', 'sex': 'Female'}, 
          4: {'name': 'Peter', 'age': '29', 'sex': 'Male'}}

print(people)

# deleting dictionary from nested dictionary

del people[3], people[4]
print(people)

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}, 3: {'name': 'Luna', 'age': '24', 'sex': 'Female'}, 4: {'name': 'Peter', 'age': '29', 'sex': 'Male'}}
{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

In [54]:
#  Iterating though a nested dictionary

print(people.items())

for p_id,p_info in people.items():
    print("\nPerson ID:",p_id)
    
    for key in p_info : 
        print(key+':',p_info[key])

dict_items([(1, {'name': 'John', 'age': '27', 'sex': 'Male'}), (2, {'name': 'Marie', 'age': '22', 'sex': 'Female'})])

Person ID: 1
name: John
age: 27
sex: Male

Person ID: 2
name: Marie
age: 22
sex: Female

# Python Operator Overloading

In [62]:
# Operator Overloading
class myPoint:
    def __init__(self,x=0,y=0):
        self.x = x
        self.y = y
    
    def __str__(self):
        return "({0},{1})".format(self.x,self.y)
    
    # Overloading  + Operator
    def __add__(self,other):
        x = self.x + other.x
        y = self.y + other.y
        return myPoint(x,y)
    
    
    
    # Overloading < Operator
    def __lt__(self,other):
        self_mag = (self.x ** 2) + (self.y ** 2)
        other_mag = (other.x ** 2) + (other.y ** 2)
        return self_mag  < other_mag

In [63]:
p1 = myPoint(1,2)
p2 = myPoint(4,5)
print(p1)
print(p2)

(1,2)
(4,5)

In [64]:
print(p1<p2)

True

In [59]:
print(p1+p2)

(5,7)

In [65]:
print(p1.__lt__(p2))

True

In [66]:
print(p1.__add__(p2))

(5,7)

# Python Statements and Comments

In [67]:
# This is a comment

# This a long comment
# and multi-line comments
# can be written like this

"""
Multi-line comments
can also be written like this
"""

'\nMulti-line comments\ncan also be written like this\n'

In [69]:
# Statement - Assignment Statement
a = 1

In [71]:
# Multiline Statement
# Explicit line continuation - '\'
b = 1 + 2 + 3 + \
    4 + 5 + 6
print(b)
# Implicit line continuation within brackets
c = (1 + 2 + 3 +
     4 + 5 + 6 )
print(c)

21
21

In [73]:
# Multiple statements in one line using - ';'
d = 1; e = 3; f =0
print(d,e,f)

1 3 0

In [74]:
# Code block (body of a function, loop, etc.) starts with indentation
# and ends with the first unindented line
for i in range(1,10):
    print(i)
    if i == 5:
        break
print("End of the program...")

1
2
3
4
5
End of the program...

# Python Pass Statement

In [75]:
# pass is just a placeholder for
# functionality to be added later
sequence = {'p', 'a','s','s'}
for val in sequence:
    pass
print("End of the program...")

End of the program...

# Python Generators

In [84]:
# A simple generator function
# data save each iteration  thanks yield
def my_generator():
    n = 1 
    print("This is printed first")
    #Generator function contains yield statements
    yield n
    
    n +=1
    print("This is printed second")
    yield n
    
    n +=1
    print("This is printed at last")
    yield n

In [85]:
a = my_generator()

In [86]:
# Iterrating using next
next(a)
next(a)
next(a)
print("Using for loop...")
#Iterrating using for loop
for item in my_generator():
    print(item)

This is printed first
This is printed second
This is printed at last
Using for loop...
This is printed first
1
This is printed second
2
This is printed at last
3

In [88]:
# Generators with a loop
def reverse_string(my_string):
    length = len(my_string)
    for i in range(length-1,-1,-1):
        yield my_string[i]
        
# For loop to reverse the string

for char in reverse_string("WORLD"):
    print(char)

D
L
R
O
W

In [96]:
# you can use next() to iterrate one word at a time
a = reverse_string("WORLD")
next(a)

'D'

# Python Decorators

In [97]:
# Demonstration
def make_decorated(func):
    def inner_function():
        print("I got decorated")
        func()
    return inner_function

def simple_func():
    print("I am a simple function")

In [98]:
decor = make_decorated(simple_func)

In [99]:
decor()

I got decorated
I am a simple function

In [100]:
# Demonstration another way
def make_decorated(func):
    def inner_function():
        print("I got decorated")
        func()
    return inner_function

@make_decorated # easy way to call decorator
def simple_func():
    print("I am a simple function")

In [101]:
simple_func()

I got decorated
I am a simple function

In [103]:
# Another exemple
def my_smart_div(func):
    def inner_func(x,y):
        print("I am dividing ",x,"and",y)
        if y == 0 : 
            print("Oops! Division by zero is illegal...!!!")
            return
        
        return func(x,y)
    return inner_func

@my_smart_div
def go_divide(a,b): # Generaly, we decorate a functiuon and reassign it as,
    return a/b      # go_divide = my_smart_div(go_divide)

In [104]:
print(go_divide(20,2))
print(go_divide(20,0))

I am dividing  20 and 2
10.0
I am dividing  20 and 0
Oops! Division by zero is illegal...!!!
None

# Python While loop

In [112]:
# Using while loop
i = 3 
while i > 0:
    print(i)
    i -= 1

3
2
1

In [1]:
i = 5
while i<10:
    print(i)
    i += 1
else:
    print("Displayed Successfully")

5
6
7
8
9
Displayed Successfully

In [ ]:
# A program to display a pattern using loops
# n = numbers of layer
# . repressentes blanck
# * start to representes shape 
n = 6                  i  .  *
                    ---------------
.....*                 1  5   1
....***                2  4   3     . => n - 1
...*****               3  3   5
..*******              4  2   7     * => 2*i - 1
.**********            5  1   9
************           6  0  11
                    ----------------

In [4]:
n = int(input("Please enter the number of layers...."))
i = 1 
while i <=n:
    j = 1
    while j <= n - i :
        print(" ",end="")
        j = j + 1
    j = 1
    while j <= 2*i - 1 :
        print("*",end="")
        j = j + 1
    print()
    i = i + 1

Please enter the number of layers.... 7

      *
     ***
    *****
   *******
  *********
 ***********
*************

In [ ]:
# A program to display a pattern using loops

n = 11 (odd)          i  .  *
m = (n+1)/2 = 6     ------------
***********           1  0  11
.*********            2  1   9    . => i - 1
..*******             3  2   7
...*****              4  3   5    * => 2*(m-i)+1
....***               5  4   3
.....*              __6__5___1__
....***               7  4  3
...*****              8  3  5     . => n - 1
..*******             9  2  7
.*********           10  1  9     * => 2*(i-m)+1
***********          11  0  11
                   ---------------

In [7]:
n = int(input("Please enter the number of layers...."))
m = (n+1)/2
i = 1 
while i <=n:
    if (i > m):
        b = n-i
        s =  s = 2*(i-m)+1 
    else:
        b = i - 1
        s = 2*(m-i)+1
    j = 1
    while j <= b :
        print(" ",end="")
        j = j + 1
    j = 1
    while j <= s:
        print("*",end="")
        j = j + 1
    print()
    i = i + 1

Please enter the number of layers.... 11

***********
 *********
  *******
   *****
    ***
     *
    ***
   *****
  *******
 *********
***********

In [8]:
# pratice work
# a program to display a pattern using loops
# 37 video

# Use of if elif and else

In [16]:
# if .... elif .... else
age = int(input("Please enter the age of the person..."))
if age < 5:
    print("Too young")
elif age == 5:
    print("Kindergarten")
elif ((age > 5) and (age <= 17)):
    grade = age - 5 
    print("Go to {} grade".format(grade))
else:
    print("Go to college")

Please enter the age of the person... 0

Too young

In [9]:
# Nested if
# In this program, we input a number
# Check if the number is positive or
# negative or zero and display
# an appropriate message
# This time we use nested if

In [20]:
num = float(input("Enter a number"))
if num>=0:
    if num == 0 :
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number 77

Positive number

# Python Matrix Implementation

In [25]:
# a is 2-D matrix with integers

a = [['Roy',80,75,58,100,25],
     ['John',50,31,28,59,27],
     ['Dave',79,85,95,68,79]
    ]

# b is a nested list but not a matrix
b = [['Roy',80,75,58,100,25],
     ['John',50,31,28],
     ['Dave',79,85,95,68,79]
    ]
print(a)
print()
print(b)

[['Roy', 80, 75, 58, 100, 25], ['John', 50, 31, 28, 59, 27], ['Dave', 79, 85, 95, 68, 79]]

[['Roy', 80, 75, 58, 100, 25], ['John', 50, 31, 28], ['Dave', 79, 85, 95, 68, 79]]

In [27]:
# Creating a dynamic matrix using for loop in python 

# n = rows
# m = columns

n = 3 
m = 4 
a = [0] * n

print(a)

for i in range(n):
    a[i] = [0] * m
    
print(a)

[0, 0, 0]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [29]:
# Accessing elements from a matrix
print(a)
print(a[0])
print(a[0][1])
print(a[1][2])

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[0, 0, 0, 0]
0
0

In [30]:
# Negative Indexing
print(a)
print(a[-1]) # last row
print(a[-1][-2])
print(a[-2][-3])

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[0, 0, 0, 0]
0
0

In [31]:
# Change elements of a matrix in python
# we copy addressing to point array so if i change in new variable it changes in old variable
print(a)
b = a[0] # copy list in index 0
print(b)
print()

b[1] = 75 # change one element in list in index 1
print(b)
print(a)
print()

a[2] = ['Sam',85,25,32,44,77] # change all contain 
print(a)

[[0, 75, 0, 0], [0, 0, 0, 0], ['Sam', 85, 25, 32, 44, 77]]
[0, 75, 0, 0]

[0, 75, 0, 0]
[[0, 75, 0, 0], [0, 0, 0, 0], ['Sam', 85, 25, 32, 44, 77]]

[[0, 75, 0, 0], [0, 0, 0, 0], ['Sam', 85, 25, 32, 44, 77]]

# Python Regular Expressions

In [40]:
# import Regex module
import re

# ------------------Was a Match Found-----------------

# Search for ape in the string

if re.search("ape","The ape was at the apex"):
    print("There is an ape")

There is an ape

In [41]:
import re

# ------------------Get ALL Matches-----------------

# findall() returns a list of matches
# . is used to matches any 1 character or space
allApes = re.findall("ape.", "The ape was at the apex")

for i in allApes:
    print(i)

ape
apex

In [42]:
# finditer returns an iterrator of matching objects
# you can use span to get the location

theStr = "The ape was at the apex"

for i in re.finditer("ape.",theStr):
    # span returns a tuple
    loctuple = i.span()
    
    print(loctuple)
    
    # Slice the match out using the tuple values
    print(theStr[loctuple[0]:loctuple[1]])
    
    # first index is insclusive last index is exclusif

(4, 8)
ape
(19, 23)
apex

In [43]:
import re 

# ------------------ Match 1 or several letters -----------------

# Square brackets will match any one of the characters between 
# the brackets not including upper and lowercase varieties
# unless they are listed

animalStr = "Cat rat mat fat pat"

allAnimals = re.findall("[crmfp]at",animalStr)
for i in allAnimals:
    print(i)
    
print()

rat
mat
fat
pat

In [44]:
# we can also allow for characters in a range
# Remember to include upper and lowercase letters
animalStr = "Cat rat mat fat pat"
someAnimals = re.findall("[c-mC-M]at",animalStr)

for i in someAnimals:
    print(i)
    
print()

Cat
mat
fat

In [45]:
# Use ^ to denote any charater but whatever characters are 
# between the brackets
animalStr = "Cat rat mat fat pat"
someAnimals = re.findall("[^Cr]at",animalStr)

for i in someAnimals:
    print(i)
    
print()

mat
fat
pat

In [46]:
import re 

# ------------------ Replace All Matches -----------------
# Replace matching items in a string

owlFood = "rat cat mat pat"

# You can compile a regex into pattern objects which 
# provide additional methods
regex = re.compile("[cr]at")

# sub() replaces items that match the regex in the string
# with the 1st attribute string passed to sub
owlFood = regex.sub("owl",owlFood)

print(owlFood)

owl owl mat pat

In [48]:
import re 

# ------------------ Solving Backslash Problems -----------------
# Regex use the backslash to designate special characters
# and Python does the same inside strings which causes
# issues.

# Let's try to get "\\stuff" out of a string

randStr = "Here is \\stuff"

# this won't find it

print("Here is \\stuff : ",re.search("\\stuff",randStr))

# this does, but we have to put in 4 slashes whis is
# messy

print(" Find \\stuff : ", re.search("\\\\stuff",randStr))

# You can get arround this by using raw strings which
# don't treat backslashes as special
print(" Find \\stuff : ", re.search(r"\\stuff",randStr))

Here is \stuff :  None
 Find \stuff :  <re.Match object; span=(8, 14), match='\\stuff'>
 Find \stuff :  <re.Match object; span=(8, 14), match='\\stuff'>

In [50]:
import re 

# ------------------ Matching Any Character -----------------
# We saw that . matches any characters, but what if we 
# want to match a period.  Backslash the period
# You do the same [,] and others

# \.

randStr = "F.B.I. I.R.S. CIA"

print("Matches :", len(re.findall(".\..\..",randStr)))

print("Matches :",re.findall(".\..\..",randStr))

Matches : 2
Matches : ['F.B.I', 'I.R.S']

In [55]:
import re 

# ------------------ Matching Whitespace -----------------
# we can match many whitespace characters

randStr = """This is a long
string that goes
on for many lines"""

print(randStr)

# Remove newlines
regex = re.compile("\n")

randStr = regex.sub(" ", randStr)

print(randStr)

# You can also match
# \b : Backspace
# \f : Form Feed
# \r : Carriage Return
# \t : tab
# \v : Vertical Tab

# You may need to remove \r\n on Windows

This is a long
string that goes
on for many lines
This is a long string that goes on for many lines

In [59]:
import re 

# ------------------ Matching Any Single Number -----------------
# \d can be used instead of [0-9]
# \D is the same as  [^0-9]

randStr = "12345"

print("Matches :", len(re.findall("\d",randStr)))
print("Matches :", re.findall("\d",randStr))

Matches : 5
Matches : ['1', '2', '3', '4', '5']

In [67]:
import re 

# ------------------ Matching Multiple Numbers -----------------
# You can match multiple digits by following the  \d with {numOfValues}

# Match 5 numbers only

if re.search("\d{5}","12345"):
    print("It is a zip code")

# You can also match within a range
# Match values that are between 5 and 7 digits
numStr = "123 12345 123456 1234567"

print("Matches :", len(re.findall("\d{5,7}",numStr)))
print("Matches :", re.findall("\d{5,7}",numStr))

It is a zip code
Matches : 3
Matches : ['12345', '123456', '1234567']

In [68]:
import re 

# ------------------ Matching Any Single Letter or Numbers -----------------
# \w is the same as [a-zA-Z0-9]
# \W is the same as [^a-zA-Z0-9]

phNum = "412-555-1212"

# Check if it is a phone number
if re.search("\w{3}-\w{3}-\w{4}",phNum):
    print("It is a phone number")

# Chech for valid first name between 2 and 20 characters
if re.search("\w{3,20}","Ultraman"):
    print("It is a valid name")

It is a phone number
It is a valid name

In [69]:
import re 

# ------------------ Matching Whitespace -----------------
# \s is the same as [\f\n\r\t\v ]
# \S is the same as [^\f\n\r\t\v ]

# Check for valid first and last name with a space
if re.search("\w{2,20}\s\w{2,20}","Toshio Muramatsu"):
    print("It is a valid full name")

It is a valid full name

In [78]:
import re 

# ------------------ Matching One or More -----------------
# + matches 1 or more characters

# Matches a followed by 1 or more characters
print("Matches : ", len(re.findall("a+","a as ape bug")))
print("Matches : ", re.findall("a+","a as ape bug"))

Matches :  3
Matches :  ['a', 'a', 'a']

In [81]:
import re
# ------------------Problem-----------------
# Create a Regex that matches email adressess from a list
# 1. 1 to 20 lowercase and uppercase letters, numbers, plus ._%+-
# 2. An @ symbol
# 3. 2 to 20 lowercase and uppercase letters, numbers, plus .-
# 4. A period
# 5. 2 to 3 lowercase and uppercase letters

emailList = "db@aol.com m@.com @apple.com db@.com"

print("Email Matches :",len(re.findall("[\w._%+-]{1,20}@[\w.-]{2,20}.[A-Za-z]{2,3}",emailList)))
print("Email Matches :",re.findall("[\w._%+-]{1,20}@[\w.-]{2,20}.[A-Za-z]{2,3}",emailList))

Email Matches : 1
Email Matches : ['db@aol.com']

# List Comprehension

In [82]:
# Iterating a string through a for loop and adding the letters to a list
h_letters = []

for letter in 'human':
    h_letters.append(letter)
    
print(h_letters)

['h', 'u', 'm', 'a', 'n']

In [84]:
# using comprehension
h_letters = [ letter for letter in 'human']
print(h_letters)

['h', 'u', 'm', 'a', 'n']

In [94]:
# list comprehension vs Lambda Function (anonymous function)

h_letters = list(map(lambda x : x, 'human'))
print(h_letters)

['h', 'u', 'm', 'a', 'n']

In [87]:
# if with list comprehension
number_list = [x for x in range(20) if x%2 ==0]
print(number_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [89]:
# Nested if with list comprehension
numb_list = [y for y in range(100) if y%2 ==0 if y% 5 == 0 ]
print(numb_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [92]:
# if..Else with list comprehension
obj = ['Even' if i%2 ==0  else "Odd" for i in range(10) ]
print(obj)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [93]:
# Transposing a matric=x using list comprehension
matrix = [[1,2],[3,4],[5,6],[7,8]]
transpose =  [[row[i] for row in matrix] for i in range(2)]
print(transpose)

[[1, 3, 5, 7], [2, 4, 6, 8]]

# Python Recursion

In [99]:
def fact(n):
    if n <= 1 :
        return 1
    return n * fact(n-1)

print("Fcatorial of 5 is ",fact(5))

Fcatorial of 5 is  120

# Python Input Output and Import

In [100]:
# print function and it's usage

print('This sentence is output to the screen')
# Output : This sentence is output to the screen

a = 5 

print('The value of a is :',a)
# Output : The value of a is : 5

print(1,2,3,4)
# Output : 1 2 3 4

This sentence is output to the screen
The value of a is : 5
1 2 3 4

In [107]:
print(1,2,3,4,sep='*')
# Output : 1*2*3*4

print(1,2,3,4,sep='*', end='&')
# Output : 1*2*3*4&

print()
print('I love {0} & and {1}'.format('bread','butter'))
# Output : I love bread & and butter

print('I love {1} & and {0}'.format('bread','butter'))
# Output : I love butter & and bread

1*2*3*4
1*2*3*4&
I love bread & and butter
I love butter & and bread

In [112]:
# input

x = input('Please enter any number')
print(x)

y = int(input('Please enter any number'))
print(y)
print(int(x) + y )

Please enter any number 5

5

Please enter any number 4

4
9

In [113]:
# importing module
import math # mainly done at the top of the program
print(math.pow(int(x),2))

25.0

# Read and Write Operations File

# Python Shallow and Deep Copy

In [116]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list2 = list1
print("List1 ->", list1)
print("List2 ->", list2)
print("id of List1 ->", id(list1))
print("id of List2 ->", id(list2))

list1.append([10,11,12])
print("List1 ->", list1)
print("List2 ->", list2)

List1 -> [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
List2 -> [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
id of List1 -> 2008967057864
id of List2 -> 2008967057864
List1 -> [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
List2 -> [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [120]:
# Creating a copy ussing Shaloow Copy
import copy

old_list = [[1,2,3],[4,5,6],[7,8,9]]
new_list = copy.copy(old_list)

print("old_list :", old_list)
print("new_list :", new_list)

old_list : [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new_list : [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [121]:
# Adding elements to the old_list using shallow copy
old_list.append([4,4,4])
print("Old list:",old_list)
print("new_list:",new_list)

# Adding new nested object using shallow copy
old_list[1][1] = 'AA'
print("Old list:",old_list)
print("new_list:",new_list)

old_list[3][1] = 'BB'
print("Old list:",old_list)
print("new_list:",new_list)

Old list: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [4, 4, 4]]
new_list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Old list: [[1, 2, 3], [4, 'AA', 6], [7, 8, 9], [4, 4, 4]]
new_list: [[1, 2, 3], [4, 'AA', 6], [7, 8, 9]]
Old list: [[1, 2, 3], [4, 'AA', 6], [7, 8, 9], [4, 'BB', 4]]
new_list: [[1, 2, 3], [4, 'AA', 6], [7, 8, 9]]

In [123]:
# Copying a list using deepcopy()
import copy
old_list = [[1,1,1],[2,2,2],[3,3,3]]
new_list = copy.deepcopy(old_list)

print("id of old_list ->", id(old_list))
print("id of old_list ->", id(new_list))

print("Old list:",old_list)
print("new_list:",new_list)

id of old_list -> 2008966832648
id of old_list -> 2008966867464
Old list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [124]:
# Adding a new nested object in the list using Deep Copy
old_list[1][0] = 'BB'

print("Old list:",old_list)
print("new_list:",new_list)

Old list: [[1, 1, 1], ['BB', 2, 2], [3, 3, 3]]
new_list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

# Python lambda Functions

In [129]:
a = lambda x : x*2
                # In python, anonymous function is a function that is defined without a name.
                # It is defined by lambda
print("Double of 10 is ",a(10))

Double of 10 is  20

In [131]:
# Making a new list by taking only the even numbers from the old list

my_list = [1,5,4,6,8,11,3,12]
new_list = list(filter(lambda x : (x%2==0),my_list))
            # filter function is called with all the items in the list and a new list
            # is returned which contains items for which the function evaluats to True.
    
    # Output : [4, 6, 8, 12]
    
print(new_list)

[4, 6, 8, 12]

In [132]:
# Programm to double each item in a list using map()

my_list = [1,5,4,6,8,11,3,12]

new_list = list(map(lambda x: x * 2, my_list))

# Output : [2,10,8,12,16,22,6,24]

print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

# Python Assertion

In [134]:
# Assertion without error message


def avg(marks):
    assert len(marks) !=0  # if condition is true not assertion but isn't true assertion throws an exception
    return sum(marks)/len(marks)
               
mark1 = [11,22,33]
print("Average of mark1: ",avg(mark1))

mark1 = []
print("Average of mark1: ",avg(mark1))

Average of mark1:  22.0

AssertionError:

In [136]:
# Using assert with error message
def avg(marks):
    assert len(marks) !=0, "List is empty" # Optional message
    return sum(marks)/len(marks)
               
mark2 = [55,88,79,90,79]
print("Average of mark2: ",avg(mark2))

mark1 = []
print("Average of mark2: ",avg(mark1))

Average of mark2:  78.2

AssertionError: List is empty