# Variables and Constantes

In [ ]:
# Declaring and assigning value to constant
PI = 3.14
GRAVITY = 9.8

In [2]:
# Declaring and assigning value to constant

a = "Apple"
print(a)

# Changing value of a variable

a = "Aeroplane"
print(a)

a = 100
print(a)

# Python is a dynamic type language

#Assigning Multiple values to a variable

b,c,d = 1,2.5, "Hello"
print(b,c,d)

# Assigning same value to multiple variables
b = c = d = 5
print(b,c,d)

Apple
Aeroplane
100
1 2.5 Hello
5 5 5

# Class and Object

In [12]:
#Learn Class and object
class MyComplexNumber:
    #Constructor methods
    def __init__(self,real = 0, imag = 0):
        print("MyComplexNumber constructor executing....")
        self.real_part = real
        self.imag_part = imag
        
    def displayComplex(self):
        print("{0} + {1}j".format(self.real_part,self.imag_part))

In [13]:
# Create a new object against MyComplexNumber class
cmplx1 = MyComplexNumber(40,50)

#Calling displayComplex() function
#Output: 40 + 50j

cmplx1.displayComplex()

MyComplexNumber constructor executing....
40 + 50j

In [14]:
# Create another object against MyComplexNumber class
# and create a new attribute 'new_attribute'

cmplx2 = MyComplexNumber(60,75)
cmplx2.new_attribute = 90
cmplx2.displayComplex()
#Output: (60, 75, 90 )
print((cmplx2.real_part,cmplx2.imag_part,cmplx2.new_attribute))

MyComplexNumber constructor executing....
60 + 75j
(60, 75, 90)

In [15]:
#But cmpx1 doesn't new attribute 'new_attribute'
# AttributeError: 'MyComplexNumber' object has no attribute 'new_attribute'
cmplx1.new_attribute

AttributeError: 'MyComplexNumber' object has no attribute 'new_attribute'

In [16]:
# Deleting object attributes and the object
del cmplx1.real_part
del cmplx1

In [17]:
print(cmplx1)

NameError: name 'cmplx1' is not defined

# Array .. List

In [19]:
# Defining and declaring and array
arr = [10,20,30,40,50]
print(arr)

# Accessing Array elements
print(arr[0])
print(arr[1])
print(arr[2])
print(arr[-1]) # Negative index
print(arr[-2]) # Negative index

[10, 20, 30, 40, 50]
10
20
30
50
40

In [20]:
brands = ["cake","Apple","Google","Microsoft","Toyota"]
print(brands)

# Finding the length of array
num_brands = len(brands)
print(num_brands)

# Adding an element to an array using append ()
brands.append("Intel")
print(brands)

['cake', 'Apple', 'Google', 'Microsoft', 'Toyota']
5
['cake', 'Apple', 'Google', 'Microsoft', 'Toyota', 'Intel']

In [22]:
# Removing elements from an array
colors = ["violet","indigo","blue","green","yellow","orange","red"]
del colors[4]
print(colors)

colors.remove("blue")
print(colors)

colors.pop(3)
print(colors)


# Output ["violet","indigo","green","red"]

['violet', 'indigo', 'blue', 'green', 'orange', 'red']
['violet', 'indigo', 'green', 'orange', 'red']
['violet', 'indigo', 'green', 'red']

In [24]:
# Modifying elements of an array using indexing
fruits = ["Apple","Banana","Mango","Grapes","Orange"]
print(fruits)

fruits[1] = "Pineapple"
print(fruits)

fruits[-1] = "Guava"
print(fruits)

['Apple', 'Banana', 'Mango', 'Grapes', 'Orange']
['Apple', 'Pineapple', 'Mango', 'Grapes', 'Orange']
['Apple', 'Pineapple', 'Mango', 'Grapes', 'Guava']

In [26]:
# Concatenating two arrays using the + operator
concat = [1,2,3]
print (concat)

concat + [4,5,6]
print (concat)

#updating variable concat
concat = concat + [4,5,6]
print (concat)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4, 5, 6]

In [27]:
# Repeating element in an array
repeat = ["a"]
print(repeat)

#updating variable repeat
repeat = repeat * 5
print(repeat)

['a']
['a', 'a', 'a', 'a', 'a']

In [32]:
#Slicing (couper en tranche) an array
fruits = ["Apple","Banana","Mango","Grapes","Orange"]
print(fruits)
print(fruits[1:4])
print(fruits[:3]) # [0:3]
print(fruits[-4:])
print(fruits[-3:-1]) # -1 End element

['Apple', 'Banana', 'Mango', 'Grapes', 'Orange']
['Banana', 'Mango', 'Grapes']
['Apple', 'Banana', 'Mango']
['Banana', 'Mango', 'Grapes', 'Orange']
['Mango', 'Grapes']

In [36]:
#Declaring and defininf=g multidimentional array
multd = [[1,2], [3,4], [5,6], [7,8]]
print(multd)
print(multd[0])
print(multd[3])
print(multd[2][1])
print(multd[3][0])

[[1, 2], [3, 4], [5, 6], [7, 8]]
[1, 2]
[7, 8]
6
7

# Python keywords

In [39]:
#True False
print(5 == 5)
print(5>5)

True
False

In [41]:
# None
print(None == 0)
print(None == None)

False
True

In [43]:
#function 
def a_void_function():
    a = 1
    b = 2
    c = a + b
x = a_void_function()
print(x)

None

In [46]:
#and or not
print(True and False)
print(True or False)
print(not False)

False
True
True

In [47]:
# as
import math as myMath
print(myMath.cos(myMath.pi))

-1.0

In [50]:
# assert

assert 5 > 4
assert 5 == 5

In [52]:
#break
for i in range(1,11):
    if i == 7:
        break # terminate loop
    print(i)

1
2
3
4
5
6

In [54]:
# continue
for i in range(1,8):
    if i == 5:
       continue # saute une execution de boucle
    print(i)

1
2
3
4
6
7

In [55]:
# class
class ExampleClass:
    def function1(parameters):
        print("function1() executing...")
    def function2(parameters):
        print("function2() executing...")
ob1 = ExampleClass()
ob1.function1()
ob1.function2()

function1() executing...
function2() executing...

In [57]:
#def
def function_name(parameters):
    pass # not outcome
function_name(10)

In [58]:
#del
a = 10
print(a)
del a
print(a)

10

NameError: name 'a' is not defined

In [59]:
# if... elif..else
num = 2
if num == 1:
    print('one')
elif num == 2:
    print("Two")
else:
    print('Something else')

Two

In [61]:
#try ...raise .. catch .. finally

try:
    x = 9
    #raise ZeroDivisionError
except ZeroDivisionError:
    print("Division cannot be performed")
finally:
    print("Execution Successfully")

Execution Successfully

In [65]:
# for
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [66]:
# from .. import

import math

from math import cos,pi # use function directly

cos(pi)

-1.0

In [70]:
# global
globvar = 10
def read1():
    print(globvar)
def write1():
    global globvar
    globvar = 5
def write2():
    globvar = 15

read1()
write1()
read1()
write2()
read1()

10
5
5

In [73]:
# in use to see one element match in the list
a = [1,2,3,4]
print(4 in a)

True

In [76]:
#is
print (True is True)

True

In [79]:
# lambda # anonymous fonction no name like def

a = lambda x: x*2
for i in range(1,6):
    print(a(i))

2
4
6
8
10

In [85]:
#nonlocal
def outer_function():
    a = 5
    def inner_function():
        nonlocal a # a is non local
        a = 10
        print("Inner function: ",a)
    inner_function()
    print('Outer function: ',a)
outer_function()

Inner function:  10
Outer function:  10

In [87]:
#pass
def function(args):
    pass

#use to add more instruction later
function(5)

In [88]:
#return

def func_return():
    a = 1
    return a
print(func_return())

1

In [89]:
# while
i = 5
while (i>0):
    print(i)
    i -= 1

5
4
3
2
1

In [90]:
# with 

with open('example.txt','w') as my_file:
    my_file.write('Hello word!')

In [93]:
# yield
def generator():
    for i in range(6):
        yield i*i
g = generator()
for i in g:
    print(i)

0
1
4
9
16
25

# Tuples

In [94]:
 # creating an empty tuple
tuple1 = ()
print(tuple1)

# creating tuples with integer éléments
tuple2 = (1,2,3)
print(tuple2)

#Tuples with mixed datatypes
tuple3 = (103,"Anirban", 20000.00, "HR Dept")
print(tuple3)

()
(1, 2, 3)
(103, 'Anirban', 20000.0, 'HR Dept')

In [98]:
# creation of nested tuple
tuple4 = ("points",[1,4,3],(7,8,6))
print(tuple4)

# tuple can be created without any parentheses
tuple5 = 101, "Anirban",20000.00,"HR Dep"
print(tuple5)

# tuple unpacking is also possible
empid,empname,empsal,empdept = tuple5
print(empid)
print(empname)
print(empsal)
print(empdept)
print(type(tuple5))

('points', [1, 4, 3], (7, 8, 6))
(101, 'Anirban', 20000.0, 'HR Dep')
101
Anirban
20000.0
HR Dep
<class 'tuple'>

In [99]:
# accessing elements in a tuple
tuple1 = ('w','e','l','c','o','m','e')
print(tuple1)
print(tuple1[1])
print(tuple1[2])
print(tuple1[5])

# nested tuple

nest_tuple2 = ("points",[1,3,4],(8,7,9))
print(nest_tuple2)
print(nest_tuple2[0][3])
print(nest_tuple2[1][2])
print(nest_tuple2[2][2])

('w', 'e', 'l', 'c', 'o', 'm', 'e')
e
l
m
('points', [1, 3, 4], (8, 7, 9))
n
4
9

In [100]:
# slicing tuple contents
tuple1 = ('w','e','l','c','o','m','e')

print(tuple1[1:3]) # last is not include so output 1 and 2 only

print(tuple1[:-3])

print(tuple1[3:])

print(tuple1[:])

('e', 'l')
('w', 'e', 'l', 'c')
('c', 'o', 'm', 'e')
('w', 'e', 'l', 'c', 'o', 'm', 'e')

In [104]:
 # tuple elements are immutable
tuple1 = ('w','e','l','c','o','m','e')
print(tuple1)
#tuple1[2] = 'x'  #error

# tuples can be reassigned

tuple1 =('g','o','o','d','b','y','e')
print(tuple1)

('w', 'e', 'l', 'c', 'o', 'm', 'e')
('g', 'o', 'o', 'd', 'b', 'y', 'e')

In [108]:
# concatenation of tuples

tuple2 = ('w','e','l')
tuple3 = ('c','o','m','e')
print(tuple2)
print(tuple3)
print(tuple2+tuple3)
print(("again",)*4)

('w', 'e', 'l')
('c', 'o', 'm', 'e')
('w', 'e', 'l', 'c', 'o', 'm', 'e')
('again', 'again', 'again', 'again')

In [113]:
# deletion  operation on a tuple
tuple4 = ('w','e','l','c','o','m','e')

# as immutable so elements can not be deleted
#del tuple4[2]

# but can delete entire tuple

#del tuple4

print(tuple4)

TypeError: 'tuple' object doesn't support item deletion

In [115]:
# Tuple methods

tuple5 = ('w','e','l','c','o','m','e')
print(tuple5.count('e'))
print(tuple5.index('c')) # first element found

2
3

In [117]:
# Tuple operation
tuple6 = ('w','e','l','c','o','m','e')
print(tuple6)

#membership
print ('c' in tuple6)
print ('c' not in tuple6)
print ('a' in tuple6)
print ('a' not in tuple6)

# Output : True, False, False, True

('w', 'e', 'l', 'c', 'o', 'm', 'e')
True
False
False
True

In [118]:
# iteration through tuple elements
tuple6 = ('w','e','l','c','o','m','e')
for letters in tuple6:
    print("letter is -> ",letters)

letter is ->  w
letter is ->  e
letter is ->  l
letter is ->  c
letter is ->  o
letter is ->  m
letter is ->  e

In [122]:
# Built-in function with tuple
tuple7 = (22,33,55,44,77,66,11)
print(tuple7)

print(max(tuple7))
print(min(tuple7))
print(sorted(tuple7))
print(len(tuple7))
print(sum(tuple7))

(22, 33, 55, 44, 77, 66, 11)
77
11
[11, 22, 33, 44, 55, 66, 77]
7
308

# Learn Sets

In [6]:
# creating sets
# set og integers

my_set1 = {11,33,66,55,44,22}
print(my_set1)

# set of mixed datatypes
my_set2 = {101,"Agnibha",(21,2,1994)}
print(my_set2)

# Duplicate values are not allowed
my_set3 = {11,22,33,33,44,22}
print(my_set3)

# set cannot have mutable items
#my_set4 = {1,2,[3,4]}

# we can make set from a list
my_set5 = set([1,2,3,2])
print((my_set5))
print(type(my_set5))

# we can make list from a set

my_list1 = list({11,22,33,44})
print(my_list1)
print(type(my_list1))

{33, 66, 11, 44, 22, 55}
{(21, 2, 1994), 101, 'Agnibha'}
{33, 11, 44, 22}
{1, 2, 3}
<class 'set'>
[33, 11, 44, 22]
<class 'list'>

In [10]:
# operations on sets
my_set1 = {11,33,66,55,44,22}
print(my_set1)

# 'set' object does not support indexing

#my_set1[0]

# add an element
my_set1.add(77)
print(my_set1)

#add multiple elements
my_set1.update([88,99,22])
print(my_set1)

# add list and set
my_set1.update([100,102],{103,104,105})
print(my_set1)

{33, 66, 11, 44, 22, 55}
{33, 66, 11, 44, 77, 22, 55}
{33, 66, 99, 11, 44, 77, 22, 55, 88}
{33, 66, 99, 100, 102, 103, 104, 105, 11, 44, 77, 22, 55, 88}

In [15]:
# remove and discard
# initialize my_set1
my_set1 = {11,33,44,66,55}
print(my_set1)

# discard an element which is not present, not error
my_set1.discard(4)
print(my_set1)

# remove an element which is not present, error raised
#my_set1.remove(6)
print(my_set1)

# discard an element
my_set1.discard(44)
print(my_set1)
my_set1.remove(55)
print(my_set1)

{33, 66, 11, 44, 55}
{33, 66, 11, 44, 55}
{33, 66, 11, 44, 55}
{33, 66, 11, 55}
{33, 66, 11}

In [16]:
# using pop()
# initialize my_set1
my_set1 = {11,33,44,66,55}
print(my_set1)

# pop an element
print(my_set1.pop())

# pop another element, delete element arbitrary
print(my_set1.pop())
print(my_set1)

# clear my_set
my_set1.clear()
print(my_set1)

{33, 66, 11, 44, 55}
33
66
{11, 44, 55}
set()

In [17]:
# set operations - union
myset1 = {0,1,2,3,4,5}
myset2 = {4,5,6,7,8,9}
print(myset1)
print(myset2)

# use | operator for union
print(myset1 | myset2)
print(myset2 | myset1)
print(myset1.union(myset2))
print(myset2.union(myset1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
# set operations - intersection
myset1 = {0,1,2,3,4,5}
myset2 = {4,5,6,7,8,9}
print(myset1)
print(myset2)

# use & operator for intersection commun elements betwen myset1 and myset2

print(myset1 & myset2)
print(myset2 & myset1)
print(myset1.intersection(myset2))
print(myset2.intersection(myset1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{4, 5}
{4, 5}
{4, 5}
{4, 5}

In [19]:
# set operations - set difference
myset1 = {0,1,2,3,4,5}
myset2 = {4,5,6,7,8,9}
print(myset1)
print(myset2)

# use - operator for difference

print(myset1 - myset2)
print(myset2 - myset1)
print(myset1.difference(myset2))
print(myset2.difference(myset1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{0, 1, 2, 3}
{8, 9, 6, 7}
{0, 1, 2, 3}
{8, 9, 6, 7}

In [20]:
# set operations - symmetric difference
myset1 = {0,1,2,3,4,5}
myset2 = {4,5,6,7,8,9}
print(myset1)
print(myset2)

# use ^ ooperator for symmetric difference
print(myset1 ^ myset2)
print(myset2 ^ myset1)
print(myset1.symmetric_difference(myset2))
print(myset2.symmetric_difference(myset1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}

In [21]:
# set membership
myset1 = {0,1,2,3,4,5}
print(2 in myset1)
print(6 in myset1)
print(2 not in myset1)
print(6 not in myset1)

# Output true,False,False,True

True
False
False
True

In [23]:
# iterating through a set
for letter in set("welcome"):
    print (letter)

w
c
o
m
e
l

In [24]:
# built-in function with set
myset1 = {0,1,2,3,4,5}
print(len(myset1))
print(max(myset1))
print(min(myset1))
print(sorted(myset1))

6
5
0
[0, 1, 2, 3, 4, 5]

In [27]:
# Python frozenset
# frozenset in a new class that has the characteristics
# of a set, but its elements cannot be chance once assigned
# while tuples are immutable lists, frozensets are immutable sets.
# initialize A and B
myset1 = frozenset([1,2,3,4])
myset2 = frozenset([3,4,5,6])
print(myset1)
print(myset2)
print(myset1.difference(myset2))
print(myset1.union(myset2))
print(myset1.intersection(myset2))
print(myset1.symmetric_difference(myset2))
#myset1.add(10) frozenset has not add attribute

frozenset({1, 2, 3, 4})
frozenset({3, 4, 5, 6})
frozenset({1, 2})
frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2, 5, 6})

 # Python Module

In [28]:
# importing module as well renaming it
import math as m

print("The value of pi is",m.pi)

The value of pi is 3.141592653589793

In [29]:
# Usage of from
from math import pi
print("The value of pi is",pi)
# use directly variable pi

The value of pi is 3.141592653589793

In [31]:
# import all names from the standard module math
from math import *
print("The value of pi is",pi)

The value of pi is 3.141592653589793

# Python Directory and File Management

In [2]:
# import module os
import os
print(os.getcwd())      #Returns the present working directory
print(os.getcwdb())      #Returns the present working directory as a byte object

C:\Users\Admin\Documents\DIT\PythonCompleteCourse
b'C:\\Users\\Admin\\Documents\\DIT\\PythonCompleteCourse'

C:\Users\Admin\Documents\DIT\PythonCompleteCourse\env\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: The Windows bytes API has been deprecated, use Unicode filenames instead
  after removing the cwd from sys.path.

In [5]:
os.chdir('C:\\Users\\Admin\\Documents\\DIT\\PythonCompleteCourse\FileTest')   #use to change directory
print(os.listdir())                                                           # All files and sub directories inside a directory
                                                                              # can be known using the lisdir() method
print(os.getcwd())                                                            #Returns the present working directory

['.ipynb_checkpoints', 'a.txt', 'b.txt', 'c.txt']
C:\Users\Admin\Documents\DIT\PythonCompleteCourse\FileTest

In [6]:
# used to make a new directory
os.mkdir('test')

In [7]:
# used to rename a directory
os.rename('test', 'New_One')

In [8]:
# Removing a file and directory
os.remove('a.txt')               # use to remove a file
os.rmdir('New_One')                  # use to remove a directory

In [9]:
os.chdir('C:\\Users\\Admin\\Documents\\DIT\\PythonCompleteCourse')

In [10]:
print(os.getcwd())

C:\Users\Admin\Documents\DIT\PythonCompleteCourse

# Python Dictionary

In [2]:
# Accessing elements from a dictionary 3
new_dict = {1 : "Hello", 2: "hi", 3: "Hola"}
print(new_dict)
print(new_dict[1]) # raise except when key doesn't find
print(new_dict.get(1)) # None when key doesn't find


# Updating value  
new_dict[1] = "key"
print(new_dict)

# Adding value
new_dict[4] = "Namaste"
print(new_dict)

{1: 'Hello', 2: 'hi', 3: 'Hola'}
Hello
Hello
{1: 'key', 2: 'hi', 3: 'Hola'}
{1: 'key', 2: 'hi', 3: 'Hola', 4: 'Namaste'}

In [4]:
# Creating a new dictionary
squares = {1:1, 2:4, 3:9, 4:16, 5:25}
print(squares)

# remove a particular item
print(squares.pop(4)) # return value
print(squares)

# Remove an arbitrary item
print(squares.popitem()) # return key and value
print(squares)

# Delete a particular item

del squares[1]

print (squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
16
{1: 1, 2: 4, 3: 9, 5: 25}
(5, 25)
{1: 1, 2: 4, 3: 9}
{2: 4, 3: 9}

In [6]:
# Creating a new dictionary
squares = {1:1, 2:4, 3:9, 4:16, 5:25}
print(squares)

# remove all items
squares.clear()

# Output {}
print(squares)

# delete the dictionary itself
del squares

# Throws Error as the dictionary has been deleted
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{}

NameError: name 'squares' is not defined

In [7]:
# Creating a new dictionary using comprehension (les listes comprehensions)
squares = {x : x*x for x in range (6)}
print(squares)

# Dictionary Membership test (appartenance au dictionnaire)
squares = {1:1, 3:9, 5:25, 7:49, 8:81}

print(1 in squares)

print(2 not in squares)

# Membership tests for key only not value
print(49 in squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
True
True
False

In [8]:
# Iterating through Dictionary
squares = {1:1, 3:9, 5:25, 7:49, 8:81}
for i in squares:
    print(squares[i])

# Use buit-in functions in a dictionary
squares = {1:1, 3:9, 5:25, 7:49, 8:81}

print(len(squares)) # Prints the length of the dictionary

print(sorted(squares))  # Prints the dictionary in sorted order

1
9
25
49
81
5
[1, 3, 5, 7, 8]

# Python String

In [9]:
# Different ways to define a string in Python
mystr1 = 'Welcome'
print(mystr1)

mystr2 = "Welcome"
print(mystr2)

mystr3 = '''Welcome'''

# Triple quotes string can extend multiple lines
mystr3 = """Welcome
to the world of Python Programming"""
print(mystr3)

Welcome
Welcome
Welcome
to the world of Python Programming

In [13]:
# Accessing characters in a string
mystr = 'language'
print('mystr = ',mystr)

print('mystr[0] = ',mystr[0])
print('mystr[-1] = ',mystr[-1])
print('mystr[1:5] = ',mystr[1:5]) # 5 not here
print('mystr[5:-2] = ',mystr[5:-1]) # exclusif
#print('mystr[10] = ',mystr[10]) # error index out

mystr =  language
mystr[0] =  l
mystr[-1] =  e
mystr[1:5] =  angu
mystr[5:-2] =  ag

In [17]:
# String are immutable
# but different strings can be assigned
mystr = 'language'
print(mystr)

mystr = 'Programming'
print(mystr)

mystr[3] = 'x'

language
Programming

TypeError: 'str' object does not support item assignment

In [20]:
# Concatenation of strings
mystr1 = 'Welcome'
mystr2 = ' to all'

#Using +
print('mystr1 + mystr2 = ',mystr1+mystr2 )

# Using *
print('mystr1 * 3=',mystr1*3 )

mystr1 + mystr2 =  Welcome to all
mystr1 * 3= WelcomeWelcomeWelcome

In [21]:
# iterating through a string
letter_count = 0
for letters in 'Hello World':
    if (letters == 'l'):
        letter_count +=1
print(letter_count,'times l letter has been found')

3 times l letter has been found

In [24]:
# String Membership
print('l' in "hello")
print('l' not in "hello")
print('b' in "hello")
print('b' not in  "hello")

True
False
False
True

In [29]:
# buil-in functions
mystr = 'university'

# using enumerate()
my_list_enumerate = list(enumerate(mystr))
print('list(enumerate(mystr) ',my_list_enumerate)

#using character count
print('len(mystr) = ', len(mystr))

list(enumerate(mystr)  [(0, 'u'), (1, 'n'), (2, 'i'), (3, 'v'), (4, 'e'), (5, 'r'), (6, 's'), (7, 'i'), (8, 't'), (9, 'y')]
len(mystr) =  10

In [40]:
# String formatting using escape sequence*
#print("tell me "What's your name ?"")

# using triple quotes
print('''tell me "what's your name ?"''')

# escaping single quotes
print('tell me "What\'s your name?"')

# escaping single quotes
print("tell me 'What\'s your name?'")

# escaping double quote
print("tell me \"What's your name?\"")

tell me "what's your name ?"
tell me "What's your name?"
tell me 'What's your name?'
tell me "What's your name?"

In [46]:
print("c:\\User\\user\\mydata.txt")
print("This line is having a new line \ncharacter")
print("This line is having a tab \t character")
print("ABC written in \x41\x42\x43 (HEX) representation")

c:\User\user\mydata.txt
This line is having a new line
character
This line is having a tab 	 character
ABC written in ABC (HEX) representation

In [45]:
# Format () method 
# Default (implicit) order
default_order = "{} {} and {}".format('Today','is','Sunday')
print(default_order)

# Order using positional argument
positional_order = "{1} {0} and {2}".format('is','Today','Sunday')
print(default_order)

# Order using keyword argument
keyword_order = "{t} {i} and {s}".format(i='is',t='today', s = 'Sunday')
print(default_order)

Today is and Sunday
Today is and Sunday
Today is and Sunday

In [48]:
# Formatting numbers
print("Required binary representation of {0} is {0:b}".format(20))

# Formatting floats
print("Exponent representation : {0:e}".format(1566.345))


# Round off
print("One third is {0} is {0:.3f}".format(1/3))

Required binary representation of 20 is 10100
Exponent representation : 1.566345e+03
One third is 0.3333333333333333 is 0.333

In [53]:
 # String methods 
print("gOOD moRNING tO aLl".lower())
print("gOOD moRNING tO aLl".upper())
print("gOOD moRNING tO aLl".find('tO'))
print("gOOD moRNING tO aLl".find('to')) # not match
print("gOOD moRNING tO aLl".replace('aLl','everybody'))
print("gOOD moRNING tO aLl".replace('all','everybody')) # not match

good morning to all
GOOD MORNING TO ALL
13
-1
gOOD moRNING tO everybody
gOOD moRNING tO aLl

# Datatype Conversion in Python

In [54]:
# Implicit Type conversion
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

In [56]:
# Addition of string(higher) data type and integer (lower) datatype
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))
# Error : implicit conversiion will not work here
print(num_int + num_str)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [58]:
# Implicit Type conversion
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str) # convert string to int
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)

print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>

# Type Numbers

In [1]:
value1 = 100
print(type(value1))
print(isinstance(value1,int))
print(isinstance(value1,float))
print(isinstance(value1,complex))

<class 'int'>
True
False
False

In [4]:
value2 = 100.24
print(type(value2))
print(isinstance(value2,int))
print(isinstance(value2,float))
print(isinstance(value2,complex))

<class 'float'>
False
True
False

In [6]:
value3 = 50 + 6j
print(type(value3))
print(isinstance(value3,int))
print(isinstance(value3,float))
print(isinstance(value3,complex))

<class 'complex'>
False
False
True

In [7]:
print(0b1101)
print(0xab)
print(0o23)

13
171
19

In [9]:
print(10 + 33.4) # implicit convert float

43.4

In [14]:
# Type conversion
print(int(10.5))
print(int(-20.99))
print(float(10))

10
-20
10.0

In [18]:
# Python decimal
data1 = 0.1 + 0.2 # error add
print(data1)
data1 = 1.20 * 2.50
print(data1)
from decimal import Decimal as D
print(D('0.1') + D('0.2'))
print(D('1.2')* D('2.5'))

0.30000000000000004
3.0
0.3
3.00

In [19]:
# Python fraction
from fractions import Fraction as F
print(F('1.5')) 
print(F('5')) 
print(F(1,5))

3/2
5
1/5

In [21]:
# Python math module
import math
print(math.pi) 
print(math.cos(10)) 
print(math.log(10)) 
print(math.log10(10)) 
print(math.exp(10))
print(math.factorial(5)) 
print(math.sinh(10))

3.141592653589793
-0.8390715290764524
2.302585092994046
1.0
22026.465794806718
120
11013.232874703393

In [34]:
# Python random module
import random
print ('Random number ---> ', random.randrange(5,15)) # start and stop value
print ('Random number ---> ', random.randrange(5,15))
print ('Random number ---> ', random.randrange(5,15))
print ('Random number ---> ', random.randrange(5,15))

day = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat']
print(random.choice(day))

print (day)
random.shuffle(day)
print(day)

# Print random element
print(random.random())

Random number --->  9
Random number --->  6
Random number --->  10
Random number --->  5
Wed
['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
['Sun', 'Thu', 'Wed', 'Sat', 'Fri', 'Mon', 'Tue']
0.5156018208339357

# Namespace and Scope

In [6]:
# Name (also called identifier) is simply a name given to object
# We can get the adress (in Ram) of some object through the built-in function, id()
# Note : You may get different walue of id

a = 2
# Output : id(2) = 10919424
print('id(2) = ',id(2))

# Output : id(2) = 10919424
print('id(2) = ',id(2))

a = 2
# Output : id(2) = 10919424
print('id(a) = ',id(a))

a = a+1
# Output : id(2) = 10919424
print('id(a) = ',id(a))

# Output : id(2) = 10919424
print('id(3) = ',id(3))

b = 2
# Output : id(2) = 10919424
print('id(2) = ',id(2))
print('id(b) = ',id(b))

id(2) =  140709852377376
id(2) =  140709852377376
id(a) =  140709852377376
id(a) =  140709852377408
id(3) =  140709852377408
id(2) =  140709852377376
id(b) =  140709852377376

In [11]:
# Scope

def outer_function():
    global a
    a =20
    
    def inner_function():
        global a
        a = 30
        print('a = ', a)
        
    inner_function()
    print('a = ', a)

a = 10
print('a = ', a)
outer_function()
print('a = ', a)

a =  10
a =  30
a =  30
a =  30

# Python Global, Local and Nonlocal Variables

In [1]:
# Global and local variable with different name

x = "global" # Global variable can be accessed from anywhere

def funct1():
    global x
    y = "local"
    x = x * 2
    print(x)
    print(y)

print("Global x = ",x)
funct1()
print("Global x = ",x)

Global x =  global
globalglobal
local
Global x =  globalglobal

In [2]:
# Global and local variable with different name

a = 5

def funct2():
    a=10 #local variable can be accessed from the block where it it defined only
    print("local a = ",a) 

print("Global a = ",a)
funct2()
print("Global a = ",a)

Global a =  5
local a =  10
Global a =  5

In [3]:
# Creating and using a Non-local variable

def outer():
    x = "local"
    
    def inner():
        nonlocal x # Nonlocal variable are used in nested function
        x = "nonlocal"
        print("inner:",x)
        
    inner()
    print("outer:",x)
    
outer()

inner: nonlocal
outer: nonlocal

# Python Global Keyword

In [4]:
def funct1():
    x = 20
    
    def funct2():
        global x # Global keyword is used to modify a global variable
        x = 25
        
    print("Before calling funct2 : ", x)
    print("Calling funct2 now ")
    funct2()
    print("After calling funct2 : ",x)

funct1()
print("x is main : ",x)

Before calling funct2 :  20
Calling funct2 now
After calling funct2 :  20
x is main :  25

# Python Iterators

In [2]:
# definition a list
our_list = [44,77,11,33]

# get an iterator using iter() method
our_iter = iter(our_list)

## iterate through it using next() method

## print 44
print(next(our_iter))


print(next(our_iter))

## next(obj) is same as calling obj.__next__() method

### iterate through it using next() method

## print 11
print(our_iter.__next__())

## print 33
print(our_iter.__next__())

## This will raise error, no items left
next(our_iter)

44
77
11
33

StopIteration:

In [6]:
# create  a custom iterrator

class Pow_of_Two:
    ''' class to implement an 
    iterator of powers of two '''
   
    #constructor with default value max contains 0
    def __init__(self, max = 0):
        self.max = max
  
    
    def __iter__(self):
        self.n = 0
        return self
    
    def __next__(self):
        if self.n<= self.max:
            result = 2 ** self.n
            self.n += 1
            return result
        else:
            raise StopIteration

print(Pow_of_Two.__doc__)

a = Pow_of_Two(4)

i = iter(a)
print(next(i))
print(i.__next__())
#print(next(i))
print(next(i))

 class to implement an
    iterator of powers of two
1
2
4

In [9]:
# creating a infinite custom iterrator

class Infinite_Iter:
    """ Infinite iterator to return all 
    odd numbers"""
    
    def __iter__(self):
        self.num = 1
        return self
    
    def __next__(self):
        num = self.num
        self.num +=2
        return num

i = Infinite_Iter()
a = iter(i)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

1
3
5
7
9
11
13
15
17
19
21
23